﻿@page
@model GymManagment.Pages.Admin.BannerModel
@{
    Layout = "_AdminLayout";
}
<div class="">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Banners</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form form method="post" enctype="multipart/form-data" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                        <input type="hidden" asp-for="Master.Id" />
                        <input type="hidden" asp-for="Master.MediaId" />
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="Master.CMSKey">
                                Page<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <select asp-for="Master.CMSKey" class="form-control" required="required">
                                    <option value="IndexBanner">Index</option>
                                    <option value="ContactUsBanner">Contact Us</option>
                                    <option value="ServiceBanner">Service</option>
                                    <option value="AboutUsBanner">AboutUs Banner</option>
                                    <option value="CareerBanner">Career Banner</option>
                                    <option value="CertificateBanner">Certificate Banner</option>
                                    <option value="TechnicalServiceBanner">Technical Service Banner</option>
                                    <option value="SafetyBanner">Safety Banner</option>
                                    <option value="LearningBanner">Learning Banner</option>
                                    <option value="OpeningBanner">Opening Banner</option>
                                </select>
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="Master.Text1">
                                Header Text
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="text" asp-for="Master.Text1" class="form-control" />
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="Master.Text2">
                                Header Text
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="text" asp-for="Master.Text2" class="form-control" />
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="Master.Text3">
                                Description Text
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="text" asp-for="Master.Text3" class="form-control" />
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="Master.IsActive">
                                Is Active<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input asp-for="Master.IsActive" class="flat" />
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="Master.Image">
                                Image<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="file" onchange="readURL(this,'img_here')" class="form-control-file" asp-for="Master.Image">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align">
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <img id="img_here" src="@Model.ImageURL" alt="Image" class="form-control" style="height: 125px;width: auto;" />
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="item form-group">
                            <div class="col-md-6 col-sm-6 offset-md-3">
                                <input type="button" value="Cancel" class="btn btn-warning" id="btnCancel" />
                                <input type="submit" asp-page-handler="Save" value="Save" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $('#btnCancel').click(function () {
            window.location.href = '/Admin/BannerList';
            return false;
        });
    </script>
}
