﻿@page
@model GymManagment.Pages.Admin.BlogModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Blog";
}
<div class="">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Blog</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>

                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form form method="post" enctype="multipart/form-data" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                        <input type="hidden" asp-for="Master.Id" />
                        <input type="hidden" asp-for="Master.MediaId" />
                        <input type="hidden" asp-for="Master.CMSKey" value="Blog" />
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="Master.Text1">
                                Title<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="text" asp-for="Master.Text1" required="required" class="form-control " />
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="Master.Text2">
                                URL<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="text" asp-for="Master.Text2" required="required" class="form-control " />
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="Master.IsActive">
                                Is Active<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input asp-for="Master.IsActive" class="flat" />
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="Master.Text3">
                                Description<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <textarea asp-for="Master.Text3" required="required" class="form-control " rows="5"></textarea>
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="Master.Image">
                                Image<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="file" onchange="readURL(this,'img_here')" class="form-control-file" asp-for="Master.Image">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align">
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <img id="img_here" src="@Model.ImageURL" alt="Image" class="form-control" style="height: 125px;width: auto;" />
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="item form-group">
                            <div class="col-md-6 col-sm-6 offset-md-3">
                                <input type="button" value="Cancel" class="btn btn-warning" id="btnCancel" />
                                <input type="submit" asp-page-handler="Save" value="Save" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: [
            "advlist autolink lists link image charmap print preview anchor",
            "searchreplace visualblocks code fullscreen",
            "insertdatetime media table contextmenu paste",
            "textcolor colorpicker"
        ],
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | forecolor backcolor"

    });

    $(window).bind("load", function () {
        $(".tox-statusbar").hide();
    });
</script>
@section Scripts {
    <script>
        $('#btnCancel').click(function () {
            window.location.href = '/Admin/BlogList';
            return false;
        });
    </script>
}
