﻿@page
@model GymManagment.Pages.Admin.JobListModel
@{
    ViewData["Title"] = "New List";
    Layout = "_AdminLayout";
}
<!-- Datatables -->
<link href="~/admin_theme/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="~/admin_theme/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="~/admin_theme/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="~/admin_theme/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="~/admin_theme/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
<div class="">
    <input type="hidden" id="delconfirm" asp-for="DeleteConfirmed" />
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Job List</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p class="header-create-new">
                        <input type="button" class="btn btn-primary" value="Create New" id="btnNew">
                    </p>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered" role="grid" aria-describedby="datatable-buttons_info">
                            <thead>
                                <tr>
                                    <th style="width: 25px;"></th>
                                    <th>
                                        Type
                                    </th>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Location
                                    </th>
                                    <th>
                                        Is Active
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Items)
                                {
                                    <tr>
                                        <td class="tdpadding">
                                            <a asp-page="Jobs" asp-route-id="@item.Id"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                            <form asp-page-handler="delete" asp-route-id="@item.Id" method="post" onclick="return confirm('Are you sure you want to delete this?')">
                                                <button class="remove"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                            </form>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Text1)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Text2)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Text3)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IsActive)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <!-- Datatables -->
    <script src="../vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="../vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="../vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="../vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="../vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="../vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="../vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="../vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="../vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="../vendors/jszip/dist/jszip.min.js"></script>
    <script src="../vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="../vendors/pdfmake/build/vfs_fonts.js"></script>
    <script>
        $(function () {
            $('#btnNew').click(function () {
                window.location.href = '/Admin/Jobs';
                return false;
            });
        })
    </script>
}
