﻿@model IList<GymManagment.Core.Models.CMSContent>
<style>






    .about_page h1 span {
        font-size: 25px
    }

    .about_page h1 {
        font-size: 25px
    }

        .about_page h1 img {
            padding: 0px 0px 0px 0px;
            margin: 0px 0px 0px 0px;
        }
</style>
<section>
    <div class=" container">
        <div class="about_page">
            @{
                foreach (var item in Model)
                {
                    <div class="row">
                        @if (item.CMSKey == "Vision")
                        {
                            <div class="col-sm-8 col-lg-8  wow fadeInRight" data-wow-delay=".4s">
                                <div class="marine_dots"><img src="~/jituae_theme/images/about_dot.png"></div>
                                <h1><img src="~/jituae_theme/images/heading_dots.png"> Our <span>Vision</span></h1>
                                <div class="mob"><img src="~/jituae_theme/images/services_img4.png" class="img-responsive"></div>
                                <p class="newfont">@item.Text1</p>
                            </div>
                            <div class="col-sm-4 col-lg-4 desk wow fadeInLeft" data-wow-delay=".4s">
                                <div> <img src="~/jituae_theme/images/services_img4.png" class="img-responsive"></div>
                            </div>
                        }
                        else
                        {
                            <div class="col-sm-8 col-lg-8  wow fadeInRight" data-wow-delay=".4s">
                                <div class="marine_dots"><img src="~/jituae_theme/images/about_dot.png"></div>
                                <h1><img src="~/jituae_theme/images/heading_dots.png"> Our  <span>Mission</span></h1>
                                <div class="mob"><img src="~/jituae_theme/images/about_img1.png" class="img-responsive"></div>
                                <p class="newfont">@item.Text1</p>
                            </div>
                            <div class="col-sm-4 col-lg-4 desk wow fadeInLeft" data-wow-delay=".4s">
                                <div> <img src="~/jituae_theme/images/about_img1.png" class="img-responsive"></div>
                            </div>
                        }
                    </div>
                    <div class=" clearfix"></div>
                }
            }
        </div>
    </div>
</section>
