﻿@model GymManagment.Core.ViewModels.CMSContentSocialViewModel
@foreach (var item in Model.CMSContentViewModel)
{
    <style>
    .services_banner {
        background: url('@item.FileName');
    }
    </style>
    <div class="services_banner">
        <div class="banner_con">
            <div class=" container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="banner_icon"><img src="~/jitindia_theme/images/Services_icon.svg" class="center-block"></div>
                        <div class="sub_banner_heading">@item.Text1</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
