﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JIT Marine Technical Services LLP</title>
    <!-- Bootstrap -->
    <link href="~/admin_theme/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/admin_theme/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/admin_theme/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/admin_theme/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-wysiwyg -->
    <link href="~/admin_theme/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="~/admin_theme/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="~/admin_theme/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- starrr -->
    <link href="~/admin_theme/vendors/starrr/dist/starrr.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="~/admin_theme/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/admin_theme/build/css/custom.min.css" rel="stylesheet">
    <style>








        .panel_toolbox {
            float: right;
            min-width: inherit;
        }

        .tdpadding {
            padding-right: 40px !important;
        }

        button.remove:focus {
            outline: 0px;
        }

        .remove {
            border: 0px !important;
            margin-left: 20px;
            margin-top: -20px;
            position: absolute;
            background-color: transparent;
        }
    </style>
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="/Home" class="site_title"><img src="~/jitindia_theme/images/logo.png" style="width:62px" /></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="~/admin_theme/production/images/img.jpg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <h2>@User.Identity.Name</h2>
                            }
                            else
                            {
                                <h2>User Email</h2>
                            }
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a href="~/Home"><i class="fa fa-home"></i> Home</a>
                                </li>
                                <li>
                                    <a><i class="fa fa-clone"></i> Utilities <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        @*<li><a href="/Admin/AboutUs">About Us</a></li>*@
                                        <li><a href="/Admin/BannerList">Site's Banner List</a></li>
                                        @*<li><a href="/Admin/BlogList">Blog List</a></li>
                                            <li><a href="/Admin/FacilityList">Facility List</a></li>*@
                                        <li><a href="/Admin/SectionList">Section List</a></li>
                                        @*<li><a href="/Admin/GalleryList">Gallery List</a></li>*@
                                        <li><a href="/Admin/OurValues">Our Values</a></li>
                                        @*<li><a href="/Admin/TestimonialList">Testmonial List</a></li>*@
                                        <li><a href="/Admin/ClientList">Client List</a></li>
                                        <li><a href="/Admin/JobList">Job List</a></li>
                                        @*<li><a href="/Admin/NewsList">News List</a></li>*@
                                        <li><a href="/Admin/EnquiryList">Enquiry List</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/Admin/Settings"><i class="fa fa-cogs"></i> Settings</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/admin_theme/production/images/img.jpg" alt="">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        @User.Identity.Name
                                    }
                                    else
                                    {
                                        <span>User Email</span>

                                    }
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                    @*<a class="dropdown-item" href="/Account/Profile"> Profile</a>*@
                                    <a class="dropdown-item" href="/Account/Logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    @{ var year = DateTime.Now.Year == 2021 ? "2020" : "2020 - " + DateTime.Now.Year; }
                    Copyright © @year Borncode Technologies
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    <!-- jQuery -->
    <script src="~/admin_theme/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/admin_theme/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="~/admin_theme/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/admin_theme/vendors/nprogress/nprogress.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/admin_theme/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/admin_theme/vendors/iCheck/icheck.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/admin_theme/vendors/moment/min/moment.min.js"></script>
    <script src="~/admin_theme/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap-wysiwyg -->
    <script src="~/admin_theme/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="~/admin_theme/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="~/admin_theme/vendors/google-code-prettify/src/prettify.js"></script>
    <!-- jQuery Tags Input -->
    <script src="~/admin_theme/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
    <!-- Switchery -->
    <script src="~/admin_theme/vendors/switchery/dist/switchery.min.js"></script>
    <!-- Select2 -->
    <script src="~/admin_theme/vendors/select2/dist/js/select2.full.min.js"></script>
    <!-- Parsley -->
    <script src="~/admin_theme/vendors/parsleyjs/dist/parsley.min.js"></script>
    <!-- Autosize -->
    <script src="~/admin_theme/vendors/autosize/dist/autosize.min.js"></script>
    <!-- jQuery autocomplete -->
    <script src="~/admin_theme/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
    <!-- starrr -->
    <script src="~/admin_theme/vendors/starrr/dist/starrr.js"></script>
    @RenderSection("Scripts", required: false)
    <!-- Custom Theme Scripts -->
    <script src="~/admin_theme/build/js/custom.min.js"></script>
    <script>
        if ($('input#delconfirm').val() == "True") {
            alert("Item deleted!");
        }
    </script>
</body>
</html>
