﻿@using Microsoft.AspNetCore.Http;
@inject UserManager<ApplicationUser> userManager;
@inject IHttpContextAccessor httpContextAccessor;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Club Active</title>
    <base href='@Url.Content("~/")'>
    <link rel="shortcut icon" href="~/theme/images/logoicon.png" type="image/x-icon" />
    <link rel="icon" href="~/theme/images/logoicon.png" type="image/ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <link href="~/theme/css/bootstrap.min.css" rel="stylesheet" />
    @*Abhilash C K 18022020*@
    <link href="~/lib/datatables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/theme/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/theme/css/gym.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/theme/css/menu.css" rel="stylesheet" />
    <link href="~/theme/css/custome_style.css" rel="stylesheet" />
    <link href="~/theme/css/custom.css" rel="stylesheet" />
    <link href="~/theme/css/pikaday.css" rel="stylesheet">
    <link href="~/theme/css/font_awsome.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&display=swap" rel="stylesheet">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/theme/js/bootstrap.min.js"></script>
    @*Abhilash C K 18022020*@
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/ajax.js"></script>
    <script src="~/js/general.js"></script>
    <script src="~/js/reports/reports.js"></script>
</head>
<body>
    <header>
        <div class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="header_bg">
                        <div class="col-sm-1 logo col-xs-4">
                            <a href="~/Home">
                                <img src="~/theme/images/logo.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                        <div class="col-sm-9 ">
                            <nav class="navbar navbar-default" role="navigation">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <li class="active"><a href="~/Home"> Home</a></li>

                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Customer<b class="caret"></b></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="~/Customers">Customers</a></li>
                                                    <li><a href="~/Enquiries">Enquiry</a></li>
                                                    <li><a href="~/Registration">Registration</a></li>
                                                </ul>
                                            </li>


                                            <li><a href="~/FeeCollection">Service Bill</a></li>
                                            <li><a href="~/Expense">Expense</a></li>

                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports<b class="caret"></b></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="~/Reports/MembershipReport">Membership Report</a></li>
                                                    <li><a href="~/Reports/StaffAttendanceReport">Staff Attendance Report</a></li>
                                                    <li><a href="~/Reports/SalesReport">Sales Report</a></li>
                                                    <li><a href="~/Reports/MembershipRenewalReport">Membership Renewal Report</a></li>
                                                    <li><a href="~/Reports/ExpiryReport">Expiry Report</a></li>
                                                    <li><a href="~/Reports/GeneralLedgerReport">General Ledger Report</a></li>
                                                    <li><a href="~/Reports/DOBReport">Date Of Birth List</a></li>
                                                    <li><a href="~/Reports/PendingFeeReport">Pending Fee List</a></li>
                                                    <li><a href="~/Reports/TrainerReport">Trainer List</a></li>
                                                </ul>
                                            </li>


                                            <li><a href="~/WorkoutPlan">Workout</a></li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings<b class="caret"></b></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="~/MembershipCategories">Membership Categories</a></li>
                                                    <li><a href="~/MembershipTypes">Membership Types</a></li>
                                                    @{
                                                        var user = await userManager.GetUserAsync(httpContextAccessor.HttpContext.User);
                                                        var userTypeId = user.UserTypeId;
                                                        if (userTypeId == 1 || userTypeId == 2)
                                                        {
                                                            <li><a href="~/Reports/BillMemberDeletion">Invoice or Member Delete</a></li>
                                                        }
                                                    }
                                                    <li><a href="~/Countries">Countries</a></li>
                                                    <li><a href="~/States">States</a></li>
                                                    <li><a href="~/ServiceTypes">Service Types</a></li>
                                                    <li><a href="~/MedicationTypes">Medication Types</a></li>
                                                    <li><a href="~/Sources">Sources</a></li>
                                                    <li><a href="~/Settings">General Settings</a></li>
                                                    <li><a href="~/PaymentModes">Payment Modes</a></li>
                                                    <li><a href="~/Users">Users</a></li>
                                                </ul>
                                            </li>


                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">CMS<b class="caret"></b></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="~/CMS/AboutUs">About Us</a></li>
                                                    <li><a href="~/CMS/SiteBanners">Banner</a></li>
                                                    <li><a href="~/CMS/OurValues">Our Values</a></li>
                                                    <li><a href="~/CMS/Facilities">Facilities</a></li>
                                                    <li><a href="~/CMS/WorkoutPrograms">Workout Programs</a></li>
                                                    <li><a href="~/CMS/Testimonials">Testimonials</a></li>
                                                    <li><a href="~/CMS/Blogs">Blogs</a></li>
                                                    <li><a href="~/CMS/Gallaries">Gallaries</a></li>
                                                </ul>
                                            </li>

                                            <li>
                                                <a href="~/Notification/BDNotification">
                                                    <i class="fa fa-birthday-cake" aria-hidden="true" title="Birthday Notification">
                                                        <span class="fa fa-comment"></span>
                                                        <span class="num" id="bdtotal">0</span>
                                                    </i>
                                                </a>
                                            </li>
                                            <li><a href="~/Notification/ExpiryNotification"><i class="fa fa-bell-o blink" style="font-size: 16px;" aria-hidden="true" title="Expiry/Renewal Notification"></i></a></li>
                                        }
                                    </ul>
                                    <style>
























                                        .blink {
                                            animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
                                        }

                                        @@keyframes blinker {
                                            from {
                                                opacity: 1;
                                            }

                                            to {
                                                opacity: 0;
                                            }
                                        }

                                        i.fa-birthday-cake {
                                            /*position: relative;
                                            font-size: 2em;
                                            color: grey;
                                            cursor: pointer;*/
                                            position: relative;
                                            font-size: 1em;
                                            /* color: grey; */
                                            cursor: pointer;
                                        }

                                        span.fa-comment {
                                            /*position: absolute;
                                            font-size: 0.6em;
                                            top: -4px;
                                            color: red;
                                            right: -4px;*/
                                            position: absolute;
                                            font-size: 1.5em;
                                            top: -20px;
                                            color: #f58320;
                                            right: -20px;
                                        }

                                        span.num {
                                            /*position: absolute;
                                            font-size: 0.3em;
                                            top: 1px;
                                            color: #fff;
                                            right: 2px;*/
                                            position: absolute;
                                            font-size: .8em;
                                            top: -15px;
                                            color: #fff;
                                            right: -13px;
                                        }
                                    </style>
                                </div>
                            </nav>
                        </div>
                        <div class="col-sm-2 logout">
                            <div id="loginContainer">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a href="#" id="loginButton">
                                        <span>
                                            <div class="progile_img"><img src="~/theme/images/profile_img.png" class="img-responsive"></div>
                                            @User.Identity.Name
                                        </span><em></em>
                                    </a>
                                    <div style="clear:both"></div>
                                    <div id="loginBox">
                                        <form id="loginForm">
                                            <div>  <span><a href="~/Account/">Log Out</a></span></div>
                                            <div>  <span><a href="~/Account/Profile">Profile</a></span></div>
                                            <div>  <span><a href="~/Account/ChangePassword">Change Password</a></span></div>
                                        </form>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="wraper_head">
        <div class="container-fluid">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
    <div class="content_area">
        @RenderBody();
    </div>
    @*<div class="footer"></div>*@
    <!-- script for menu -->
    <script>
        $("span.menu").click(function () {
            $(".top-menu").slideToggle("slow", function () {
                // Animation complete.
            });
        });
    </script>
    <!-- script for menu -->
    <script>
        $(window).scroll(function () {
            if ($(this).scrollTop() > 1) {
                $('header').addClass("sticky");
            }
            else {
                $('header').removeClass("sticky");
            }
        });
    </script>
    <script src="~/theme/js/login.js"></script>
    <script src="~/theme/js/jquery.app.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".custom-select").each(function () {
                $(this).wrap("<span class='select-wrapper'></span>");
                $(this).after("<span class='holder'></span>");
            });
            $(".custom-select").change(function () {
                var selectedOption = $(this).find(":selected").text();
                $(this).next(".holder").text(selectedOption);
            }).trigger('change');

            $(".custom-select1").each(function () {
                $(this).wrap("<span class='select-wrapper1'></span>");
                $(this).after("<span class='holder'></span>");
            });
            $(".custom-select1").change(function () {
                var selectedOption = $(this).find(":selected").text();
                $(this).next(".holder").text(selectedOption);
            }).trigger('change');
        })
    </script>
    <script src="~/theme/js/pikaday.js"></script>
    <script>
        var picker = new Pikaday(
            {
                field: document.getElementById('datepicker'),
                firstDay: 1,
                minDate: new Date(2000, 0, 1),
                maxDate: new Date(2020, 12, 31),
                yearRange: [2000, 2020]
            });

    </script>
    <!-- script for menu -->
    <script>
        $("span.menu").click(function () {
            $(".top-menu").slideToggle("slow", function () {
                // Animation complete.
            });
        });
    </script>
    <!-- script for menu -->
    <script>
        $(document).ready(function () {
            LoadBDtodaysTotal("bdtotal", "/api/report/bd-todays-toal");
        })
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
