﻿@page
@model GymManagment.Pages.AboutUsModel
@{
    ViewData["Title"] = "About Us";
    Layout = "_JitLayout";
}
<style>
    .about_cont_area p {
        text-align: justify !important;
    }
</style>
<!-----------------------------------Banner---------------------------->
@await Component.InvokeAsync("AboutUsBanner", new { key = "AboutUsBanner" })
<!--------------------------------End Banner--------------------------->
<section>
    <div class=" container">
        <div class="row">
            @*<div class="col-sm-10 col-sm-offset-1">*@
            <div class="col-sm-12">
                <div class="about_cont_area about_con_sec2">
                    <h1>Who are we?</h1>
                    <p>
                        <strong>JIT Marine Technical Services LLP (JITMTS)</strong> is a trusted name in engineering services. We have made more impact in the oil and gas industry, and marine services industry in the past few years than most do in decades. With hundreds of satisfied clients and international recognition of our effort, we forge our path ahead with a clear vision for the future. <br><br>
                        While meeting the human resource needs for hardcore engineering and expert scientific work in the oil and gas sector, we also adjust our focus on the sustainability and viability of diminishing natural resources and the lives of local communities.
                        In the maritime sector, the JIT experience is a specialist treatment of seagoing assets. Our team has successfully accomplished projects of sizable magnitudes in the maritime industry from conception to completion of the voyage and associated maritime activities.

                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="about_con_sec2">
                @if (Model.Team != null)
                {
                    <div class="col-sm-12"> <h1 class="content_head">Our Team</h1> </div>
                    <div class="col-sm-6">
                        <p class="content_pra">
                            @Html.Raw(Model.Team.Text1)
                        </p>
                    </div>
                }
                <div class="col-sm-6"><img src="~/jitindia_theme/images/our_team.png" class=" img-responsive"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12"> <h1 class="content_head">What we do</h1> </div>
            <div class="col-sm-12">
                <div class="about_con_sec">
                    <div class="col-sm-6">
                        <h2 class="content_head1">Oil and Gas </h2>
                        <div class=" mob"><img src="~/jitindia_theme/images/what_we_do1.jpg" class=" img-responsive"></div>
                        <p class="content_pra1">
                            Some of the areas in which JIT can readily provide technical assistance to oil and gas industry customers are:

                        </p>
                        <div class="sub_services_list">
                            <ul>
                                <li>Technical support on inspected vessels including MSP reflags</li>
                                <li>Environmental</li>
                                <li>Safety</li>
                                <li>Quality Management</li>
                                <li>Risk Assessments</li>
                                <li>Training</li>
                                <li>Vessel Security</li>
                                <li>Counter-Piracy planning as well as a host of other areas.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6"><div class="desk"><img src="~/jitindia_theme/images/what_we_do1.jpg" class=" img-responsive"></div></div>
                </div>
                <div class="about_con_sec">
                    <div class="col-sm-6">
                        <h2 class="content_head1 mob">Global Maritime Industry </h2>
                        <img src="~/jitindia_theme/images/what_we_do2.jpg" class=" img-responsive">
                    </div>
                    <div class="col-sm-6">
                        <h2 class="content_head1 desk">Global Maritime Industry </h2>
                        <p class="content_pra1">
                            Engineering, supervision and management are fundamental services that industries call for. From shipbuilding to surveying and routine maintenance to counter-piracy, we undertake the complete responsibility of your assets at sea. We provide an extensive range of services, including the complete takeover and technical, financial and personnel management of cruise liners, LPG and LNG vessels, container carriers, etc.

                        </p>
                    </div>
                </div>
                <div class="about_con_sec">
                    <div class="col-sm-6">
                        <h2 class="content_head1">Recruitment and Training</h2>
                        <div class="mob"><img src="~/jitindia_theme/images/what_we_do3.jpg" class=" img-responsive"></div>
                        <p class="content_pra1">
                            We have been recruiting talent through our streamlined talent process and training batches of specialists in various trades. Featuring a broad spectrum of courses to choose from, we follow a 3A principle - make training accessible, affordable and actionable for aspiring candidates as well investing companies. By checking for lapses in training and continually updating our knowledge base for 21st century skills, we are making your time and money matter where they should.

                        </p>
                    </div>
                    <div class="col-sm-6"><div class="desk"><img src="~/jitindia_theme/images/what_we_do3.jpg" class=" img-responsive"></div></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @if (Model.CoreValue != null)
                {
                    <h1 class="content_head">Our Core Values</h1>
                    <p class="content_pra">@Html.Raw(Model.CoreValue.Text1)</p>
                }
                <div class="about_con_sec1">
                    <h1 class="content_head2">Deliver Outstanding Results</h1>
                    <p class="content_pra3">
                        We believe in doing. Getting the project out the door in its best possible form has been the rhythm of our hustle. At JIT, results are given the most importance since our fuel comes from the feedback of our clients.

                    </p>
                </div>
                <div class="about_con_sec1">
                    <h1 class="content_head2">Operate with Transparency</h1>
                    <p class="content_pra3">
                        Our operations are always open to examination. We perform our responsibility with accountability and transparency to the associated companies. Be it technical, commercial or any other form of activity.

                    </p>
                </div>
                <div class="about_con_sec1">
                    <h1 class="content_head2">Build for Durability</h1>
                    <p class="content_pra3">
                        Our processes and estimations are designed to be fail-safe. By deploying reliable engineering teams on key projects, we ensure that whatever we build, is built to last.

                    </p>
                </div>
                <div class="about_con_sec1">
                    <h1 class="content_head2">Work with the Team </h1>
                    <p class="content_pra3">
                        Within the company, teams are the collaboration hubs where ideation, implementation and evaluation activities take form, progress and culminate. We promote togetherness and healthy engagement within teams, devoid of any form of discrimination or bias.

                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="about_con_sec2">
                    @if (Model.Vision != null)
                    {
                        <h2 class="content_head1">Our Vision </h2>
                        <p class="content_pra1">@Html.Raw(Model.Vision.Text1)</p>
                    }
                </div>
            </div>
            <div class="col-sm-6">
                <div class="about_con_sec2">
                    @if (Model.Mission != null)
                    {
                        <h2 class="content_head1">Our Mission </h2>
                        <p class="content_pra1">@Html.Raw(Model.Mission.Text1)</p>
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h1 class="content_head">Safety Standards: Our Top Priority</h1>
                <p class="content_pra">
                    One of the core values of JIT International is our commitment to the safety of people, environment and communities.

                </p>
                <div class="about_con_sec1">
                    <h1 class="content_head2">Industrial Safety </h1>
                    <p class="content_pra3">
                        One of JIT's key focus areas is maintaining a healthy and safe working environment for our employees and those of our associated companies. Even in a high-risk environment with many possibilities of accidents such as collisions, explosions, fires, high pressure lines, electrical hazards, machine hazards and others, our employees are trained to tackle obstacles and build solutions. By educating and informing about potential hazards in the line of work and existing government/company safety standards, we create and sustain a safe environment for everyone.

                    </p>
                </div>
                <div class="about_con_sec1">
                    <h1 class="content_head2">Ethical and Moral Guidelines</h1>
                    <p class="content_pra3">
                        We are an engineering-based establishment, but we don't overlook the importance of the cultural diversity in our work environment. We take ethical and moral compliance seriously.  We expect honesty, integrity and fairness in all dealings of our employees in their work and business, and failure to hold it up must be reported to appropriate compliance officers in the respective department.



                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>
<section>
    <div class="sub_page_sec">
        <div class="container ">
            <div class="row">
                @if (Model.AboutUsBottomFirstSection != null)
                {
                    <div class="about_sec_left">
                        <div class="col-sm-8 col-sm-offset-4">
                            <div class="about_icons"><img src="@Model.AboutUsBottomFirstSection.FileName"></div>
                            <h1>@Html.Raw(Model.AboutUsBottomFirstSection.Text1)</h1>
                            <div class="sub_page_sec_con">@Html.Raw(Model.AboutUsBottomFirstSection.Text2)</div>
                            <div><img src="~/jitindia_theme/images/arrows1.png" class="contactus"></div>
                        </div>
                    </div>
                }
                @if (Model.AboutUsBottomSecondSection != null)
                {
                    <div class="about_sec_right">
                        <div class="col-sm-8 col-sm-offset-4">
                            <div class="about_icons"><img src="@Model.AboutUsBottomSecondSection.FileName"></div>
                            <h2>@Html.Raw(Model.AboutUsBottomSecondSection.Text1)</h2>
                            <div class="sub_page_sec_con1">@Html.Raw(Model.AboutUsBottomSecondSection.Text2)<img src="~/jitindia_theme/images/arrows2.png" class="contactus"></div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="clearfix"></div>
        <br>
    </div>
</section>
