﻿@page
@model GymManagment.Pages.BlogsModel
@{
	ViewData["Title"] = "Blogs";
	Layout = "~/Pages/Shared/_SiteLayout.cshtml";
}


@await Component.InvokeAsync("Banner", new { key = "BlogBanner" })


<section class="ftco-section">
	<div class="container">
		<div class="row">
			@for (int i = 0; i < Model.Blogs.Count; i++)
			{
				<div class="col-md-4 d-flex ftco-animate">
					<div class="blog-entry justify-content-end">
						<a href="blog-single.html" class="block-20" style="background-image: url(@Model.Blogs[i].FileName);">
						</a>
						<div class="text p-4 float-right d-block">
							<div class="meta">
								<div><a href="#">@Model.Blogs[i].Date</a></div>
							</div>
							<h3 class="heading mt-2"><a href="/Blog/@Model.Blogs[i].URL"> @Model.Blogs[i].Header</a></h3>
							<p>@Model.Blogs[i].Content</p>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</section> <!-- .section -->