﻿@page
@model GymManagment.Pages.CareerModel
@{
    ViewData["Title"] = "Career";
    Layout = "_JitLayout";
}
<style>






























    .searchbtn {
        margin: 0px 0px 0px 0px !important;
        padding: 10px 25px 10px 25px !important;
        color: #fff !important;
        background: transparent !important;
        border: 0px !important;
        cursor: pointer !important;
        font-weight: bold !important;
        font-size: 16px !important;
    }

        .searchbtn:hover {
            margin: 0px 0px 0px 0px !important;
            padding: 10px 25px 10px 25px !important;
            color: #ff8f39 !important;
            background: transparent !important;
            border: 0px !important;
            cursor: pointer !important;
            font-weight: bold !important;
            font-size: 16px !important;
        }
</style>
<!-----------------------------------Banner - ViewComponent---------------------------->
@*@await Component.InvokeAsync("CareerBanner", new { key = "CareerBanner" })*@
<!--------------------------------End Banner - ViewComponent--------------------------->
<!-----------------------------------Banner---------------------------->
@foreach (var item in Model.Banner)
{
    <style>
     .careers_banner{
                     background: url('@item.FileName');
                 }
    </style>

    <div class="careers_banner">
        <div class="banner_con">
            <div class=" container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="banner_icon"><img src="~/jitindia_theme/images/Careers_icon.svg" class="center-block"></div>
                        <div class="sub_banner_heading">@Html.Raw(item.Text1)</div>
                        <div class="sub_banner_services">@Html.Raw(item.Text2)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-12">
            <div class="carees_search">
                <form id="search-form" method="post" enctype="multipart/form-data">
                    <div class="col-sm-5 job_border">
                        <input asp-for="JobTitle" class="form-control" placeholder="Job Title">
                        <div class="carees_form_icon"><img src="~/jitindia_theme/images/Search_icon.svg"></div>
                        <div class="carees_form_icon1"><img src="~/jitindia_theme/images/Close_button.svg" class="imgtitle"></div>
                    </div>
                    <div class="col-sm-5 job_border1">
                        <input asp-for="JobLocation" class="form-control" placeholder="Location">
                        <div class="carees_form_icon"><img src="~/jitindia_theme/images/Location_icon_care.svg"></div>
                        <div class="carees_form_icon1"><img src="~/jitindia_theme/images/Close_button.svg" class="imglocation"></div>
                    </div>
                    <div class="col-sm-2">
                        <div class="search">
                            <input type="submit" asp-page-handler="Save" value="Search" class="searchbtn" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
<!--------------------------------End Banner--------------------------->
<!-----------------------------------Career---------------------------->
<section>
    <div class="carees_con_sec">
        <div class="contact_container">
            @foreach (var job in Model.Jobs)
            {
                <div class="carees_bg">
                    <div class="bookmark"><img src="~/jitindia_theme/images/Bookmark_icon.svg"></div>
                    <div class="row">
                        <div class="col-sm-7 col-lg-8">
                            <div class="careers_con">@Html.Raw(job.Text1)</div>
                            <div class="careers_con1">@Html.Raw(job.Text2)</div>
                            <div class="careers_con2">@Html.Raw(job.Text3)</div>
                        </div>
                        <div class="col-sm-2 col-lg-2"><div class="active_job_con">Active<span><div class="active_job"></div></span></div></div>
                        <div class="col-sm-3 col-lg-2">
                            <div class="apply_now"><a asp-page="CurrentOpening" asp-route-id="@job.Id">Apply Now</a></div>
                        </div>
                    </div>
                </div>
            }
            @if (Model.Jobs.Count() <= 0)
            {
                <div class="carees_bg">
                    <div class="bookmark"><img src="~/jitindia_theme/images/Bookmark_icon.svg"></div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="careers_con1">No matching job found!</div>
                        </div>
                    </div>
                </div>
            }
            <!-- pager -->
            @if (Model.Pager.Pages.Any())
            {
                <ul class="pagination m-b-5">
                    @if (Model.Pager.CurrentPage > 1)
                    {
                        <li>
                            <a asp-page="Career" asp-route-title="@Model.JobTitle" asp-route-location="@Model.JobLocation" aria-label="First">First</a>
                        </li>
                        <li>
                            <a asp-page="Career" asp-route-title="@Model.JobTitle" asp-route-location="@Model.JobLocation" asp-route-p="@(Model.Pager.CurrentPage - 1)" aria-label="Previous"><img src="~/jitindia_theme/images/Left_arrow.svg"></a>
                        </li>
                    }
                    @foreach (var p in Model.Pager.Pages)
                    {
                        <li class="page-item @(p == Model.Pager.CurrentPage ? "active" : "")">
                            <a asp-page="Career" asp-route-title="@Model.JobTitle" asp-route-location="@Model.JobLocation" asp-route-p="@p">@p</a>
                        </li>
                    }
                    @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                    {
                        <li>
                            <a asp-page="Career" asp-route-title="@Model.JobTitle" asp-route-location="@Model.JobLocation" asp-route-p="@(Model.Pager.CurrentPage + 1)" aria-label="Next"><img src="~/jitindia_theme/images/Right_arrow.svg"></a>
                        </li>
                        <li>
                            <a asp-page="Career" asp-route-title="@Model.JobTitle" asp-route-location="@Model.JobLocation" asp-route-p="@(Model.Pager.TotalPages)" aria-label="Last">Last</a>
                        </li>
                    }
                </ul>
            }
        </div>
    </div>
</section>
<!--------------------------------End Career--------------------------->
@section scripts{
    <script>
        $('body').on('click', 'img.imgtitle', function () {
            $('#JobTitle').val('').focus();
        })
        $('body').on('click', 'img.imglocation', function () {
            $('#JobLocation').val('').focus();
        })
        $('#search-form').submit(function () {
            if ($.trim($('#JobTitle').val()) == '' && $.trim($('#JobLocation').val()) == '') {
                alert('Input can not be left blank');
                return false;
            }
        })
    </script>
}
