﻿@page
@model GymManagment.Pages.CertificateModel
@{
    ViewData["Title"] = "Program";
    Layout = "_JitLayout";
}
<!-----------------------------------Banner---------------------------->
@await Component.InvokeAsync("CertificateBanner", new { key = "CertificateBanner" })
<!--------------------------------End Banner--------------------------->
<!-----------------------------------Certificate---------------------------->
<section>
    <div class="certificate_p">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="content_head">Safe and Sustainable Engineering </h1>
                    <p class="content_pra">As an engineering solutions provider with a safety-first mindset, JIT Marine Technical Services LLP ensures that its associates are in the safest and most secure work environment. Our commitment to sustainability and safety has been internationally recognized. Our standards are built around maintaining safe working environments and producing sustainable engineering solutions throughout the lifecycle of our projects.  </p><br><br>


                    <h2 class="content_head1">Certifications</h2>
                    <p class="content_pra3">JIT is certified in occupational safety, quality management systems, and environmental regulations compliance.   </p>


                    <div class="about_con_sec1">
                        <h2 class="content_head2">Safety </h2>
                        <p class="content_pra3">JIT is certified by OHSAS 18001:2007 and ISO 45001:2018 for occupational health and safety. With minimal risk of workplace hazards in our work environment, JIT has been able to maintain safer conditions for our employees at work.  </p>
                    </div>

                    <div class="about_con_sec1">
                        <h2 class="content_head2">Quality Management</h2>
                        <p class="content_pra3">We are also certified by ISO 9001:2015 for our quality management systems - our products and services consistently meet customer and regulatory requirements and exhibit continuous improvement.   </p>
                    </div>

                    <div class="about_con_sec1">
                        <h2 class="content_head2">Environmental Management</h2>
                        <p class="content_pra3">JIT has received international certification ISO 14001:2015 in environmental management for designing and implementing an environmental management system to manage the immediate and long term environmental performance of our organization. The recognition is in alignment with our conformity to environmental laws and regulations, other performance requirements, and for demonstrating continuous improvement in all markers of sustainable engineering practices.  </p>
                    </div><br><br><br><br>

                </div>
                @foreach (var item in Model.CertificateSection)
                {
                    <div class="col-sm-3">
                        <div><img src="@item.FileName" class="img-responsive center-block"></div>
                        <div class="download_con">@item.Text1</div>
                        <div class="download_con1">@item.Text2</div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-----------------------------------End Certificate---------------------------->
