﻿@page
@model HomeModel
@{
    ViewData["Title"] = "Home page";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}
<link href="~/theme/css/gym.css" rel="stylesheet" type="text/css" media="all" />
<div class="container-fluid">
    <div class="row">
        <div class="contnets_se">
            @*<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 box-spacing">
                    <a href="~/Admin/AboutUs">
                        <div class="appointment-div appointment-bg">
                            <div class="icon-div"><img src="~/theme/images/admin_d.png"></div>
                            <h1>About Us</h1>
                        </div>
                    </a>
                </div>*@
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 box-spacing">
                <a href="~/Admin/Banner">
                    <div class="appointment-div clients-bg">
                        <div class="icon-div"><img src="~/theme/images/attendance.png"></div>
                        <h1>Create Banners</h1>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 box-spacing">
                <a href="~/Admin/BannerList">
                    <div class="appointment-div message-bg">
                        <div class="icon-div"><img src="~/theme/images/reports.png"></div>
                        <h1>Banner List</h1>
                    </div>
                </a>
            </div>
            @*<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 box-spacing">
                    <a href="~/Admin/Blog">
                        <div class="appointment-div reception-bg">
                            <div class="icon-div"><img src="~/theme/images/outstanding_billing.png"></div>
                            <h1>Create Blog</h1>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 box-spacing">
                    <a href="~/Admin/BlogList">
                        <div class="appointment-div inventory-bg">
                            <div class="icon-div"><img src="~/theme/images/pos_billing.png"></div>
                            <h1>Blog List</h1>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 box-spacing">
                    <a href="~/Admin/Facility">
                        <div class="appointment-div alert-bg">
                            <div class="icon-div"><img src="~/theme/images/workout.png"></div>
                            <h1>Create Facility</h1>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 box-spacing">
                    <a href="~/Admin/FacilityList">
                        <div class="appointment-div consultant-bg">
                            <div class="icon-div"><img src="~/theme/images/service_master.png"></div>
                            <h1>Facility List</h1>
                        </div>
                    </a>
                </div>*@
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 box-spacing">
                <a href="~/Admin/Section">
                    <div class="appointment-div alert-bg">
                        <div class="icon-div"><img src="~/theme/images/attendance.png"></div>
                        <h1>Create Section</h1>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 box-spacing">
                <a href="~/Admin/SectionList">
                    <div class="appointment-div consultant-bg">
                        <div class="icon-div"><img src="~/theme/images/reports.png"></div>
                        <h1>Section List</h1>
                    </div>
                </a>
            </div>
            @*<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 box-spacing">
                    <a href="~/Admin/Gallery">
                        <div class="appointment-div alert-bg">
                            <div class="icon-div"><img src="~/theme/images/birthday_list.png"></div>
                            <h1>Create Gallery</h1>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 box-spacing">
                    <a href="~/Admin/GalleryList">
                        <div class="appointment-div consultant-bg">
                            <div class="icon-div"><img src="~/theme/images/reports.png"></div>
                            <h1>Gallery List</h1>
                        </div>
                    </a>
                </div>*@
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 box-spacing">
                <a href="~/Admin/OurValues">
                    <div class="appointment-div alert-bg">
                        <div class="icon-div"><img src="~/theme/images/attendance.png"></div>
                        <h1>Our Values</h1>
                    </div>
                </a>
            </div>
            @*<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 box-spacing">
                    <a href="~/Admin/Testimonial">
                        <div class="appointment-div consultant-bg">
                            <div class="icon-div"><img src="~/theme/images/reports.png"></div>
                            <h1>Create Testimonial</h1>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 box-spacing">
                    <a href="~/Admin/TestimonialList">
                        <div class="appointment-div accunting-bg">
                            <div class="icon-div"><img src="~/theme/images/reports.png"></div>
                            <h1>Testimonial List</h1>
                        </div>
                    </a>
                </div>*@
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 box-spacing">
                <a href="~/Admin/Client">
                    <div class="appointment-div alert-bg">
                        <div class="icon-div"><img src="~/theme/images/attendance.png"></div>
                        <h1>Create Client</h1>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 box-spacing">
                <a href="~/Admin/ClientList">
                    <div class="appointment-div inventory-bg">
                        <div class="icon-div"><img src="~/theme/images/reports.png"></div>
                        <h1>Client List</h1>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 box-spacing">
                <a href="~/Admin/Jobs">
                    <div class="appointment-div alert-bg">
                        <div class="icon-div"><img src="~/theme/images/attendance.png"></div>
                        <h1>Create Job</h1>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 box-spacing">
                <a href="~/Admin/JobList">
                    <div class="appointment-div inventory-bg">
                        <div class="icon-div"><img src="~/theme/images/reports.png"></div>
                        <h1>Job List</h1>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 box-spacing">
                <a href="~/Admin/EnquiryList">
                    <div class="appointment-div reception-bg">
                        <div class="icon-div"><img src="~/theme/images/reports.png"></div>
                        <h1>Enquiry List</h1>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 box-spacing">
                <a href="~/Admin/Settings">
                    <div class="appointment-div reception-bg">
                        <div class="icon-div"><img src="~/theme/images/service_master.png"></div>
                        <h1>Settings</h1>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
