﻿@page
@model GymManagment.Pages.IndexModel
@using System.IO;
@{
    Layout = "_JitLayout";
}
<!-----------------------------------Banner---------------------------->
@await Component.InvokeAsync("Banner", new { key = "IndexBanner" })
<!--------------------------------End Banner--------------------------->
<!-----------------------------------JIT Marine Technical Services LLP---------------------------->
<section>
    <div class="welcome_m">
        <div class=" container">
            <div class=" welcome_sec">
                <div class="row">
                    <div class="col-sm-12 wow fadeInLeft" data-wow-delay=".4s"><h1>JIT Marine Technical Services LLP</h1></div>
                    <div class="services desk"><div class="top_social_icons"><img src="~/jitindia_theme/images/services.png" class="center-block"></div></div>
                    <div class="services_sec">
                        @foreach (var item in Model.FirstSection)
                        {
                            <div class="col-sm-4 mar_b_25">
                                <div class="technic_sec">
                                    @{
                                        var name = new DirectoryInfo(item.FileName).Name.Split('.')[0] + ".svg";
                                    }
                                    <div><img src="~/jitindia_theme/images/@name" class=" center-block"></div>
                                    <div class="technic_sec_con">@Html.Raw(item.Text1)</div>
                                    <div class="technic_sec_con1">@item.Text2</div>
                                    <div><a href="@item.Text3"><img src="~/jitindia_theme/images/arrows1.png" class="center-block"></a></div>
                                </div>
                                <div><img src="@item.FileName" class=" img-responsive"></div>
                            </div>
                        }
                    </div>
                    <div class=" clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--------------------------------End JIT Marine Technical Services LLP--------------------------->
<!-----------------------------------Home Middle Section---------------------------->
<section>
    <div class=" container">
        <div class="marine">
            <div class="row">
                <div class="partner-table">
                    <div class="col-sm-12 col-lg-7 partner wow fadeInLeft" data-wow-delay=".4s"><img src="@Model.MiddleSection.FileName" class="img-responsive"></div>
                    <div class="col-sm-12 col-lg-5 partner wow fadeInRight" data-wow-delay=".4s">
                        <h1>@Html.Raw(Model.MiddleSection.Text1)</h1>
                        <p>@Html.Raw(Model.MiddleSection.Text2)</p>
                        <div class="read_more"><a href="@Model.MiddleSection.Text3">Read More</a></div>
                    </div>
                </div>
                <div class=" clearfix"></div>
            </div>
        </div>
    </div>
</section>
<!-----------------------------------End Home Middle Section---------------------------->
<!-----------------------------------Service Section---------------------------->
<section>
    <div class="marine_services">
        <div class="container ">
            <div class="row">
                <div class="col-sm12"><h1>JIT Marine Services</h1> </div>
                @foreach (var item in Model.ServiceSection)
                {
                    <div class="col-sm-3 marine_services_pad wow fadeInRight" data-wow-delay=".6s">
                        <div><img src="@item.FileName" class="center-block"></div>
                        <h2>@Html.Raw(item.Text1)</h2>
                        <p>@Html.Raw(item.Text2)</p>
                        <div class="read_more1"><a href="@item.Text3">Read More</a></div>
                    </div>
                }
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>
<!-----------------------------------End Service Section---------------------------->
<!-----------------------------------Our Clients---------------------------->
<section>
    <div class="our_client">
        <div class="container ">
            <div class="row">
                <div class="col-sm12">
                    <h1>Our Clients</h1>
                    <div><img src="~/jitindia_theme/images/border.jpg" class=" center-block"></div>
                </div>
            </div>
            <div class="our_client_logos">
                <div class="col-sm12 ">
                    <div id="owl-example" class="owl-carousel">
                        @foreach (var item in Model.Clients)
                        {
                            <div class="item">
                                <img src="@item.FileName" alt="Clients" class="center-block">
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>
<!--------------------------------Our Clients--------------------------->
<!-----------------------------------Feedback---------------------------->
<section>
    <div class="feedback">
        <div class="container ">
            <div class="row">
                <div>
                    <div class="col-sm-4   marine_services_pad wow fadeInRight" data-wow-delay=".6s">
                        <img src="~/jitindia_theme/images/feedback_icon.png" class="img-responsive">
                    </div>
                    <div class="col-sm-8   marine_services_pad animated client-section">
                        <div class="col-md-3 col-sm-6 col-lg-3 wow fadeInLeft" data-wow-delay="0.2s">
                            <div><img src="~/jitindia_theme/images/Completed_project_icon.svg" class="center-block"></div>
                            <h2 id="count1"></h2>
                            <p>Happy Employees</p>
                            <div class="feedback_br"><img src="~/jitindia_theme/images/border2.png" class="center-block"></div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-lg-3 wow fadeInRight" data-wow-delay="0.2s">
                            <div><img src="~/jitindia_theme/images/Completed_project_icon.svg" class="center-block"></div>
                            <h2 id="count2"></h2>
                            <p>Completed Projects</p>
                            <div class="feedback_br"><img src="~/jitindia_theme/images/border2.png" class="center-block"></div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-lg-3 wow fadeInDown" data-wow-delay="0.2s">
                            <div><img src="~/jitindia_theme/images/Ongoing_project_icon.svg" class="center-block"></div>
                            <h2 id="count3"></h2>
                            <p>Ongoing Projects</p>
                            <div class="feedback_br"><img src="~/jitindia_theme/images/border2.png" class="center-block"></div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-lg-3 wow fadeInUp" data-wow-delay="0.2s">
                            <div><img src="~/jitindia_theme/images/Winning_awards_icon.svg" class="center-block"></div>
                            <h2 id="count4"></h2>
                            <p>Professional Candidates</p>
                            <div class="feedback_br"><img src="~/jitindia_theme/images/border2.png" class="center-block"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>
<!----------------------------------End Feedback------------------------->
<!-----------------------------------Certificates---------------------------->
<section>
    <div class="certificate">
        <div class="container ">
            <div class="row">
                <div>
                    <div class="col-sm-4  marine_services_pad wow fadeInRight" data-wow-delay=".6s">
                        <div><img src="~/jitindia_theme/images/Certificate_icon.svg" class=" img-responsive"></div>
                        <h1>We Are <br>Certified By</h1>
                    </div>
                    <div class="col-sm-8 wow fadeInRight" data-wow-delay=".6s">
                        <div class="row">
                            @foreach (var item in Model.CertificateSection)
                            {
                                <div class="col-sm-6">
                                    <h2>@item.Text1</h2>
                                    <p>@item.Text2</p>
                                    <div class="view_cr"><a href="#" data-target="@item.Text3" data-toggle="modal">View Certificate</a></div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>
<!-- Modal -->
@*@foreach (var item in Model.CertificateSection)
    {
        <div id="@item.Text3" class="modal fade none-border">
            <div class="employe_service">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                            <h4 class="modal-title">@item.Text1</h4>
                        </div>
                        <div class="modal-body">
                            <div><img src="@item.FileName" class="center-block img-responsive"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    }*@
<!-- Modal Add Category -->
<div id="cetificate1" class="modal fade none-border">
    <div class="employe_service">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                    <h4 class="modal-title">OHSAS 18001:2007</h4>
                </div>
                <div class="modal-body">
                    <div><img src="~/jitindia_theme/images/OHSAS_18001_2007.jpg" class="center-block img-responsive"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL -->
<!-- Modal Add Category -->
<div id="cetificate2" class="modal fade none-border">
    <div class="employe_service">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                    <h4 class="modal-title">ISO 14001:2015</h4>
                </div>
                <div class="modal-body">
                    <div><img src="~/jitindia_theme/images/ISO_14001_2015.jpg" class="center-block img-responsive"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL -->
<!-- Modal Add Category -->
<div id="cetificate3" class="modal fade none-border">
    <div class="employe_service">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                    <h4 class="modal-title">ISO 9001:2015 </h4>
                </div>
                <div class="modal-body">
                    <div><img src="~/jitindia_theme/images/ISO_90012015.jpg" class="center-block img-responsive"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL -->
<!-- Modal Add Category -->
<div id="cetificate4" class="modal fade none-border">
    <div class="employe_service">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                    <h4 class="modal-title">ISO 45001:2018</h4>
                </div>
                <div class="modal-body">
                    <div><img src="~/jitindia_theme/images/ISO_45012018.jpg" class="center-block img-responsive"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL -->
<!-- END MODAL -->
<!----------------------------------End Certificates------------------------->
