﻿@page
@model GymManagment.Pages.PrivacyPolicyModel
@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_JitServiceLayout";
}

<div class="subbanner-wrapper">
    <div class="services_banner_con">
        <div class="social_icons_sec_sub1">
            <div class="top_social_icons_sub">
                <div><img src="~/jituae_theme/images/social_iconsline.png" class="center-block"></div>
                <div class="social_icons"><a href="https://www.instagram.com/jitmarinellc/"><img src="~/jituae_theme/images/instagram.png" class="center-block"></a></div>
                <div class="social_icons">
                    <a href="https://www.facebook.com/JIT-Marine-Oil-Services-LLC-102446688261124/">
                        <img src="~/jituae_theme/images/facebook.png"
                             class="center-block">
                    </a>
                </div>
                <div class="social_icons"><a href="https://twitter.com/jitmarinellc"><img src="~/jituae_theme/images/twitter.png" class="center-block"></a></div>
                <div><img src="~/jituae_theme/images/social_iconsline.png" class="center-block"></div>
            </div>

        </div>
        <div class="container">
            <div class="col-sm-12">
                <h1 class="subbanner_heading3">Privacy Policy</h1>

            </div>
        </div>
    </div>
    <div class="desk"><img src="~/jituae_theme/images/pricacy.png" class="img-responsive center-block"></div>
    <div class="mob"><img src="~/jituae_theme/images/pricacy_mob.png" class="img-responsive center-block"></div>
</div>



<section>
    <div>
        <div class=" container">
            <div class="row">
                <div>
                    <div class="services_con_sec1 mar_t_50">

                        <div class="col-sm-12 col-lg-12">
                            <h4>Privacy Policy</h4>

                            <div class="project_con">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


                            </div>

                        </div>



                    </div>
                </div>
            </div>
        </div>


    </div>
    </div>



    </div>
</section>
