﻿@page
@model GymManagment.Pages.ConsultancyServiceModel
@{
    ViewData["Title"] = "Consultancy Services";
    Layout = "_JitLayout";
}
<!-----------------------------------Banner---------------------------->
@await Component.InvokeAsync("SafetyBanner", new { key = "SafetyBanner" })
<!--------------------------------End Banner--------------------------->
<!-----------------------------------Safety Standards---------------------------->
<section>
    <div class=" container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="about_cont_area">
                    <div class="pull-right"><a href="Index"><img src="~/jitindia_theme/images/Go_back_button.svg" class="center-block"></a></div>
                    <div class="clearfix"></div>
                    <h1>Objective</h1>
                    <p>
                        JIT provide a reliable and efficient service to our associates in engineering services for offshore and onshore globally in high quality and most affordable way. We believe in working closely with our clients to create
                        the necessary synergy for their business to sail smoothly. Engineering Solutions the way you want from JIT.
                    </p>
                    <h1>Safety Standards</h1>
                    <p>
                        To achieve the quality product within a time frame without losing any man hour.
                        To train work force for safety standard and to educate each and every work force working in the
                        project for safe & secured environment. JIT and it's associate partners across the globe work in
                        high quality control respecting local and international standards. JIT association is a total peace
                        of mind for you. Intercontinental support with multinational professionals available for special
                        requirement for all our customer round the clock.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--------------------------------End Safety Standards--------------------------->
