﻿@page
@model GymManagment.Pages.ServiceModel
@{
    ViewData["Title"] = "Service";
    Layout = "_JitLayout";
}
<style>
    .about_cont_area p {
        text-align: justify !important;
    }
</style>
<!-----------------------------------Banner---------------------------->
@await Component.InvokeAsync("ServiceBanner", new { key = "ServiceBanner" })
<!--------------------------------End Banner--------------------------->
<!-------------------------------------Service------------------------------->
<section>
    <div class=" container">
        <div class="row">
            @*<div class="col-sm-10 col-sm-offset-1">*@
            <div class="col-sm-12">
                <div class="about_cont_area about_con_sec2">
                    <p>
                        We at JIT offer a combination of services scattered across industries but mainly concentrated on the oil and gas industry and the maritime industry. Be it employee sourcing and human resource management, HR training and skilling, maritime services like chartering, vessel management and manning, technical ship inspection, counter-piracy planning, and even emergency response to oil spills, our name is synonymous with consistent performance in all markers across geographical boundaries. Explore our full range of services here...

                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="sub_services">
        <div class=" container">
            <h1 class="content_head">Maritime Services</h1>
            <p class="content_pra3">
                A pioneering presence in the global maritime industry, JIT Marine Technical Services LLP innovates to deliver the promise of excellent, expert engineering solutions for fleets all over the world. We are a full-fledged solution provider for vessel operations and transportation. <br><br>
                Our maritime services team comprises leading consultants, technical support personnel, veteran engineers, designers, seasoned shipping professionals, vessel managers and logistics experts. Having undergone rigorous training programs for seafaring and vessel management, we can assure that each of our staff is fully capable of dutifully carrying out reliable services. <br><br>
                JIT is a specialist in handling global maritime services such as chartering, vessel manning and management, training and skilling of crew, technical services like ship inspections and repairs, emergency oil spill response and dredging services. We prioritize reduction of risk and cost associated with ship management and work with a directed focus on preparing high quality seafarers to take on critical projects such as LPG and LNG vessel management, offshore solutions, or cruise and passenger vessel management.
            </p>
            <div id="horizontalTab">
                <div class="tab_sec">
                    <div class="col-sm-12">
                        <ul class="resp-tabs-list">
                            <li>
                                <div class="servises_sec_icon"><img src="~/jitindia_theme/images/Chartering_icon_ser.svg"></div>
                                <div>Chartering/Sale & Purchase</div>
                            </li>
                            <li>
                                <div class="servises_sec_icon"><img src="~/jitindia_theme/images/Vessel_manning_icon_ser.svg"></div>
                                <div>Vessel Manning / Management</div>
                            </li>
                            <li>
                                <div class="servises_sec_icon"><img src="~/jitindia_theme/images/Technical_service_icon_ser.svg"></div>
                                <div>Technical Services</div>
                            </li>
                            <li>
                                <div class="servises_sec_icon"><img src="~/jitindia_theme/images/Consultancy_icon_ser.svg"></div>
                                <div>
                                    Consultancy Services
                                </div>
                            </li>
                            <li>
                                <div class="servises_sec_icon"><img src="~/jitindia_theme/images/Dreadging_icon.svg"></div>
                                <div>Dredging</div>
                            </li>
                            <li>
                                <div class="servises_sec_icon"><img src="~/jitindia_theme/images/Oilspill_response_icon.svg"></div>
                                <div>Oil Spill Response Services</div>
                            </li>
                        </ul>
                        <div class="col-sm-6">
                        </div>
                        <div class="resp-tabs-container">
                            <div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="sub_services_bg1">
                                            <div class="mar_t_30"><img src="~/jitindia_theme/images/coats.png"></div>
                                            <div class="sub_services_left">We at JIT handles chartering requirements for the carriage of oil,   </div>
                                            <div><img src="~/jitindia_theme/images/arrows1.png"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <h1>Chartering Services</h1>
                                        <p>
                                            To dispatch a load of cargo from point A to point B on your own as a business is a time-consuming and costly process. Some of the major hindrances that businesses face include finding the right carrier, deciding the best price, correct and timely execution of required documents and having ample knowledge of maritime law. <br><br>
                                            JIT provides chartering services for all types of customer requirements and specifications.<br><br>
                                            If you require to charter a vessel to deliver bulk or heavy cargo, oil, gas or chemical products, or to deliver large quantities of similar goods, JIT is an ideal partner who can simplify an otherwise complex and tedious task. Cutting down on costs and delivery time, we facilitate the smooth transportation of cargo from source to destination, handling every process in between.<br><br>
                                            Our dedicated chartering services team carefully and thoroughly documents customer requirements such as vessel size and lifting capabilities, container carriers and gearless ships, etc and ensure that they are followed through.
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-sm-12">
                                        <h2 class="content_head2">Steps in Chartering Process:</h2>
                                        <div class="sub_services_list">
                                            <ul>
                                                <li>Our team checks the specification of  goods to be transported, quantity, terms of carriage and route.</li>
                                                <li>Our specialists sketch out the optimum scheme for delivery of cargo and identify the most convenient port for processing.         </li>
                                                <li>Experienced staff at JIT leverage their network of ship owners and brokers to find a reliable carrier and charter a vessel for the best price.zx</li>
                                            </ul>
                                        </div>
                                        <p>JIT successfully caters to the full-charter and part-charter requirements of clients, thanks to the extensive network of fleet owners and vessel brokers.</p>
                                        <p><strong>The chartering services offered by JIT are inclusive of the following:</strong></p>
                                        <div class="sub_services_list">
                                            <ul>
                                                <li>Sourcing the sea or river vessel for charter</li>
                                                <li>Chartering on voyage charter and time charter basis</li>
                                                <li>Export and customs documentation</li>
                                                <li>On-site supervision at port of discharge</li>
                                                <li>Settlement of disputes with shipowners or port services</li>
                                                <li>Supervision/Handling of the loading or discharging of cargo at port</li>
                                                <li>Position monitoring of the vessel</li>
                                                <li>Selection of cargo insurer, customs broker</li>
                                                <li>Warehousing, freight forwarding</li>
                                            </ul>
                                        </div>
                                        <div class="about_con_sec1">
                                            <h2 class="content_head2">Why Makes JIT Chartering Services a Cut Above the Rest? </h2>
                                            <p class="content_pra3">Our operations team takes a proactive approach to every aspect of customer requirements. Associating with JIT is the optimum managerial decision you can make for cargo vessels and shipping-related activities. Apart from being a reliable partner in the process, we also protect and promote the commercial activities of your business throughout the duration of the charter.  </p>
                                        </div>
                                        <div class="about_con_sec1">
                                            <h2 class="content_head2">Professionalism, Quality and Efficiency </h2>
                                            <p class="content_pra3">JIT is a frontrunner in prompt chartering services for all types of cargo all over the world. We are run by highly experienced shipping professionals under whose guidance and leadership our well-trained seafarers operate. With such stringent monitoring, you can rest assured of your cargo chartering and post-fixture requirements - quality, efficiency and privacy are a given.  </p>
                                        </div>
                                        <div class="about_con_sec1">
                                            <h2 class="content_head2">Safe and Timely Consignment Delivery </h2>
                                            <p class="content_pra3">One of the most important and frequently asked questions is that of safety assurance for consignment delivery. JIT has a huge network of vessel owners from all over the world. Our dedicated team of shipping experts and project management staff operate as per client requirements, delivering a hassle-free process from source to destination. To ensure efficient, safe and timely loading and prompt delivery of the cargo, we personally monitor and manage the shipment at source and destination.  </p>
                                        </div>
                                        <div class="about_con_sec1">
                                            <h2 class="content_head2">Charter Vessel based on your Preference </h2>
                                            <p class="content_pra3">We enable clients to ship many options of cargo that are not usually transported as conventional cargo on liners including bulk cargo, project freight and time critical contracts. For products of your choice from dry cargo, liquid gas, oil products and more, JIT allows the use of RoRo vessels, Container vessels, Bulk Carriers, tankers, dry cargo vessels, gearless vessels, etc sourced from the world's largest network of fleet owners and ship brokers.  </p>
                                        </div>
                                        <div class="about_con_sec1">
                                            <h2 class="content_head2">Flexible Schedules </h2>
                                            <p class="content_pra3">We charter tonnage in a cost competitive and time-driven manner, even for door to door chartering services, allowing us to deliver on flexible schedules.  </p>
                                        </div>
                                        <div class="about_con_sec1">
                                            <h2 class="content_head2">Unique Features and Benefits </h2>
                                            <p class="content_pra3">
                                                Our reputation as a maritime services provider was built over the years through the unique benefits we presented to our customers, both economical and of convenience. JIT's chartering services have a range of unique features that make it popular and valued.<br><br>
                                                We have global contacts of fleet owners and shipbrokers, our specialists source the perfect vessel depending on the type of cargo, other features such as voyage estimation, quick turnaround of bookings and charter parties, vessel monitoring for compliance, full post-fixture handling, and analysis of voyage results.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="sub_services_bg2">
                                            <div class="mar_t_30"><img src="~/jitindia_theme/images/coats.png"></div>
                                            <div class="sub_services_left">JIT manning office is among the reputable agencies in the country, </div>
                                            <div><img src="~/jitindia_theme/images/arrows1.png"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <h1>Vessel Manning and Management</h1>
                                        <p>
                                            The JIT Manning office is an exemplary model of quality, safety and sustainability. One of the top ranking names among the world's crewing hubs, our global manning offices recruit, train and deploy skilled and disciplined ship crew on projects that set us a cut above the rest in  ship manning and management. Over the last few years, JIT Manning Office has grown tremendously in terms of talent sourcing, training and placement. Our track record as a skilled coordinator of vessel crewing needs has been excellent and the ease of working with us exceeds all expectations. <br><br>
                                            In the sphere of marine engineering, JIT occupies a leading position with an impetus on expertise in management, efficiency in business activities, and commitment to quality.  Our professional teams supply the required seafaring expertise to manage the fleet, in cooperation with principals, crews and other subsidiaries.
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-sm-12">
                                        <p><strong>We are a ship management service provider with specialties in: </strong></p>
                                        <div class="sub_services_list">
                                            <ul>
                                                <li>Technical management</li>
                                                <li>Crew management</li>
                                                <li>Risk management</li>
                                                <li>Vessel accounting and procurement services</li>
                                                <li>xxcxc</li>
                                            </ul>
                                        </div>
                                        <p>JIT has the competence, network, and experience to cater to your ship management needs. Our expert vessel management solutions are categorised on the basis of vessel type as well - for instance, we provide full technical management and highly trained crew for LPG vessel management, LNG vessel management, offshore solutions and the crude oil tanker segment as well.  </p>
                                        <h2 class="content_head2">Crew Management</h2>
                                        <p><strong>Our crew management services cover the entire needs of crew:</strong></p>
                                        <div class="sub_services_list">
                                            <ul>
                                                <li>Recruitment process from interviews to onboarding</li>
                                                <li>Routine requirements of crews such as planning, medical insurance, health check-ups, travel arrangement and working gear</li>
                                                <li>Training through continuous drills, training sessions and exercises</li>
                                                <li>Certifications in international regulations and standards and payroll services including payments, leave management, deductions and monitoring and processing payrolls</li>
                                                <li>Maintaining terms related to medical, visa and certificates in lieu with international regulations</li>
                                            </ul>
                                        </div>
                                        <div class="about_con_sec1">
                                            <h2 class="content_head2">Commercial Management </h2>
                                            <p class="content_pra3">The commerce and accounting aspects of the vessel are taken care of by our crew under the purview of commercial management. This covers the accounting and legal matters pertaining to the voyage, and the analysis, planning, scheduling and monitoring of the cruise. We provide transparent maintenance and updation of the ship accounts, with periodic invoicing, recovery of expenses, billing, yearly accounting, cost and budget reports as well as timely financial statements.  </p>
                                        </div>
                                        <div class="about_con_sec1">
                                            <h2 class="content_head2">Technical Management </h2>
                                            <p class="content_pra3">Technical staff at JIT ensure the compliant, safe, efficient and reliable operation of vessels. This is related to the regular technical inspections, performance monitoring, auditing, reporting and tracking important parameters of the vessel. The audits can reveal any loopholes in compliance with national and international regulations, if any, which are then forwarded to the fleet owners for discussion.  </p>
                                        </div>
                                        <div class="about_con_sec1">
                                            <h2 class="content_head2">Highlights of JIT Manning and Management </h2>
                                            <h3 class="content_head4">The Finest Crew in the world</h3>
                                            <p class="content_pra3">Our crew recruitment is a thorough process of filtering and reviewing to select only the best. Handpicked candidates then undergo rigorous training in vessel management exercises while the current workforce is retained as knowledge experts in the field. With the tight competition to get into the team and a highly valued learning curve in the environment, JIT has evolved as a number one hub for seekers of seafaring opportunities. Our crew is not only competent in their job, but passionate representatives of our tradition and reputation as an industry leader in their function as trained professionals capable of manning our clients' fleet. </p>
                                            <h3 class="content_head4">Safety, Quality Management and Sustainability Performance</h3>
                                            <p class="content_pra3">We work with firms to accomplish not just logistic or technical finesse, but to also consistently meet our own quality management, total environment compliance and safety standards and those laid out in the International Safety Management Code. We operate in accordance with the certification guidelines of ISO 14001:2015 standards for occupational health and safety and maintain an exceptional quality management system following the requirements of international standard ISO 9001:2018.  </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="sub_services_bg3">
                                            <div class="mar_t_30"><img src="~/jitindia_theme/images/coats.png"></div>
                                            <div class="sub_services_left">JIT Technical Services offers a wide range of maritime inspecting, </div>
                                            <div><img src="~/jitindia_theme/images/arrows1.png"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <h1>Technical Services</h1>
                                        <p>
                                            Blending the navigational and technical genius of highly qualified marine engineers, naval architects and mariners accumulated over decades of experience, our technical and marine engineering team collaborates with the Marine Asset Business units. Whether we're dealing with known problems with machinery or vague details, we take on the challenge and deliver things ship-shape. Featuring the broadest portfolio of technical inspection, certification, surveying and engineering services, JIT assists various stakeholders such as owner, seller, buyer or a bank or an insurance company, in boosting the safety and efficiency of maritime operations.
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-sm-12">
                                        <h2 class="content_head">Technical Vessel Services</h2>
                                        <p>Our marine engineers are qualified personnel with extensive ship management, design and seagoing experience. Without a doubt, this has enabled JIT to rise to the top of the game as a leader in technical maintenance and support for vessels. We provide a plethora of vessel services in the shipping and offshore industries in engineering, underwater repairs management, communications, repairs, management, training, monitoring and inspection categories. </p>
                                        <div class="about_con_sec1">
                                            <h2 class="content_head2">Technical Inspection, Repairs and Maintenance </h2>
                                            <h3 class="content_head4">Accurate inspection results, assessments and repair by the finest seagoers in the world.</h3>
                                            <p class="content_pra3">
                                                JIT is an unrivalled leader in full or part technical inspection services of fleets. Our seasoned mariners and architects are well-versed in the art of inspection and prepare detailed inspection reports to evaluate deficiencies and recommend expert corrective measures within the estimated budget of the client. <br><br>
                                                Our results are accurate, of high quality standards and based on the latest technology equipment. Our engineers perform a full operational assessment of the vessel including oil condition, propulsion, reviewing the dry-dock history and incidences of events, and prepare intuitive, professional reports that reveal any operational or conditional anomalies.
                                                In addition to inspections and assessments, JIT teams perform vessel repair and maintenance on inspected vessels under the supervision of experienced marine engineers, certified technical personnel and project managers.
                                            </p>
                                        </div>
                                        <div class="about_con_sec1">
                                            <h2 class="content_head2">Certifications </h2>
                                            <h3 class="content_head4">Our certifications are in accordance with prevailing international standards, and approved by corresponding maritime administrations.</h3>
                                            <p class="content_pra3">To put into effect the codes and conventions in existence about quality, safety and environmental regulations, ships are required to be certified as a proof of their adherence to these laws and codes. JIT assists in these national and international certifications by carrying out statutory inspections and certifications for quality management systems, marine equipment, pollution plans, ship security plans, and others on behalf of maritime administrations. </p>
                                        </div>
                                        <div class="about_con_sec1">
                                            <h2 class="content_head2">Vessel Security Services </h2>
                                            <h3 class="content_head4">Security officials and advanced surveillance equipment at work to guarantee the security of life and property at sea.</h3>
                                            <p class="content_pra3">Organized crime and piracy are major threats to the safety of crew on ships and other assets transiting in high risk areas or while anchored at ports. Our security and counter piracy planning evaluates these threats in advance to the actual voyage and prepares custom security solutions by leveraging latest surveillance technology and manned guarding of vessels or escort vessels with armed maritime security officials in close proximity.  </p>
                                        </div>
                                        <div class="about_con_sec1">
                                            <h2 class="content_head2">Marine Surveying</h2>
                                            <h3 class="content_head4">We cover a range of specialist services in cargo, nautical and technical matters with state-of-the-art tools and processes.</h3>
                                            <p class="content_pra3">We undertake statutory and miscellaneous surveys, safety inspections and other services such as pre-entry and damage surveys for insurance, chartering and cargo-related surveys such as preloading and post discharge damage inspection, cargo hold / tank inspections, condition monitoring surveys, fire and collision inspection, on-hire and off-hire surveys, vetting inspections and third party inspections such as asset protection, hull and machinery damage. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="sub_services_bg4">
                                            <div class="mar_t_30"><img src="~/jitindia_theme/images/coats.png"></div>
                                            <div class="sub_services_left">Innovation are a never-ending process and is changing rapidly the course,</div>
                                            <div><img src="~/jitindia_theme/images/arrows1.png"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <h1>Consultancy Services</h1>
                                        <p>
                                            JIT International offers premium consulting services to assist associated companies in the planning and execution of your project within the planned budget and stipulated time frame. Our expert legal, technical, training, and management consulting services comprehensively cover various stakeholders in the maritime logistics industry and offshore sectors.<br><br>
                                            Functionally, the services revolve around helping clients with marine legal advisory, risk and insurance, vessel registration, training and certification, marine surveying and engineering, and offshore, oil and gas support. We have a wide client base consisting of shipowners, builders, seafarers, agents, offshore operators, bankers, etc nationally and internationally.<br><br>
                                            With a robust local knowledge base and global reach, our service spectrum features some of the most common and growing challenges in the highly regulated and demanding marine industry:
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="about_con_sec1">
                                        <h2 class="content_head2">Training </h2>
                                        <p class="content_pra3">The well-experienced team at JIT has designed courses and facilities that are certified by international standards. Our learning content is world-class and reliable to meet the needs of the marine industry. With increasing importance of governmental security, compliance standards and better operational efficiency, JIT's training and development is the right investment you can make for your business.  </p>
                                    </div>
                                    <div class="about_con_sec1">
                                        <h2 class="content_head2">Project and Operations Management </h2>
                                        <p class="content_pra3">Managing large scale and complex projects is a challenge faced by marine project managers every day. The deep-seated knowledge possessed by our project management experts about the multidimensional, dynamic industry can be vital to the seamless operation of your business. We give you the much-needed management oversight to integrate your operations, decide strategies for financials, contracts, and team requirements to achieve an unprecedented level of coordination across levels. Customized project planning lets businesses predict, mitigate and handle operational risks with ease. </p>
                                    </div>
                                    <div class="about_con_sec1">
                                        <h2 class="content_head2">Risk Consulting </h2>
                                        <p class="content_pra3">Transit or operation in High Risk Areas brings a myriad of risks and challenges before the project owners - some of them being organized crime, terrorism, piracy and natural elements. Marine consultants in JIT have put together our set of risk mitigation solutions such as strategic consulting, intelligence management, security training, periodic risk assessments and security audits, journey management and manned guarding, root cause analysis and reporting to prevent occurrences, etc.  </p>
                                    </div>
                                    <div class="about_con_sec1">
                                        <h2 class="content_head2">Onshore/Offshore, Oil and Gas Services </h2>
                                        <p class="content_pra3">With adherence to the strictest of standards, our experienced engineers design and implement onshore/offshore, oil and gas projects with keen attention to technical details and a systematic approach in laying pipelines, electrical design, rig operation, marine drilling engineering, equipment sizing and estimations, inspection, assessment, repair and management. </p>
                                    </div>
                                    <div class="about_con_sec1">
                                        <h2 class="content_head2">Technical Consulting </h2>
                                        <p class="content_pra3">Our technical project consultants support and offer advice for research, operations, design, loadout, offloading, environmental and safety compliance evaluation before and during project execution, transportation, installation and decommissioning of assets, land restoration, etc. </p>
                                    </div>
                                    <div class="about_con_sec1">
                                        <h2 class="content_head2">Green Water Analysis </h2>
                                        <p class="content_pra3">When ocean waves slam onto ships, they have consequences on the strength and life of structures on the deck and inside. Our green water analysis is a technical procedure to carry out investigative research into such scenarios, evaluate the probability and impact of such incidences, and offer software/physical solutions to reduce impact.   </p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="sub_services_bg5">
                                            <div class="mar_t_30"><img src="~/jitindia_theme/images/coats.png"></div>
                                            <div class="sub_services_left">We offer customers innovative solutions for even the most complex projects,</div>
                                            <div><img src="~/jitindia_theme/images/arrows1.png"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <h1>Dredging</h1>
                                        <p>
                                            Dredging or the periodic removal of sedimentation and debris from the bottom of seas and oceans is a vital function serving the safe passage of vessels and liners through sea routes. JIT, a group that has been at the forefront of major marine engineering infrastructure works, such as waterways and ports has also been providing turnkey dredging solutions for the past decades with the most modern equipment and technically advanced dredging vessels.<br><br>
                                            Our cutting-edge solutions are directed at reducing contamination of marine aquatic resources as a result of the sedimentation of pollutants. The disposal of dredged material is operated with concern for sustainability and performed even in challenging environments with the appropriate permits from government authorities.

                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-sm-12">
                                        <h1 class="content_head2">Our Process</h1>
                                        <div class="sub_services_list">
                                            <ul>
                                                <li>Mobilizing our dredging equipment including vessels, barges, pumps</li>
                                                <li>Manning the project with experienced crew </li>
                                                <li>Handling the disposal of dredged material </li>
                                            </ul>
                                        </div>
                                        <p>Our investment in a highly experienced workforce of marine and civil engineers has paid off as reliable services, accurate calculations and unflinching compliance in environmental and legal matters.Time and again, we have been extending our expertise in dredging to the international dredging and maritime construction industry in the form of:</p>
                                        <div class="sub_services_list">
                                            <ul>
                                                <li>Dredging surveys</li>
                                                <li>Consulting - project assessment, pre-dredge surveying, equipment selection, handling permits, budget optimization, etc</li>
                                                <li>Maintenance Dredging</li>
                                                <li>Dredging for intake and outfall trenches</li>
                                                <li>Spud dredging for busy shipping channels</li>
                                                <li>Dredging for Port and Infrastructure Development</li>
                                                <li>Dredging for cassion mount laying work</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="sub_services_bg6">
                                            <div class="mar_t_30"><img src="~/jitindia_theme/images/coats.png"></div>
                                            <div class="sub_services_left">JIT manning office is among the reputable agencies in the country with key focus,</div>
                                            <div><img src="~/jitindia_theme/images/arrows1.png"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <h1>Oil Spill Response Service</h1>
                                        <p>
                                            Our Emergency Response Team is a specialised professional team that takes immediate corrective action in emergency scenarios, such as oil spills, with specialized emergency services and consulting, and operations in contaminated regions such as clean-up and damage reversal. Through consistent, diligent training and skilling, we have been able to develop a workforce that is not only focused on removal of oil waste, but also the prevention of future spills.<br><br>
                                            Every year, thousands of oil spills contaminate and damage our already unstable coastal waters - these could be due to ship collisions, oil tanker mishaps or massive spill events. The oil and chemical byproducts thus released have innumerable adverse impacts on aquatic wildlife, habitats, and inevitably, the food chain. Added to this is the havoc wreaked on coastal communities, fisheries, tourism and other local means of livelihood.<br><br>
                                            When our teams at JIT are faced with an oil or chemical spill situation, we try to answer the first questions that require scientific explanations and solutions. With the scientific expertise, data, tools, training and manpower that JIT has, we then answer questions about the spiller contaminants, its estimated route of travel through water bodies, effects on local environments, prediction of future impacts, action plans for clean up and land restoration, etc. <br><br>
                                            Constantly being prepared and ready for emergencies makes our Emergency Response Team available for international support and assistance to vessels that might be in distress due to oil spillage. The risk of fire hazards or the after effects of the collision make a situation more dire and demanding.
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-sm-12">
                                        <p><strong>Some features of our ERT that makes it effective and efficient:</strong></p>
                                        <div class="sub_services_list">
                                            <ul>
                                                <li>Highly competent personnel</li>
                                                <li>Scientific expertise including integrated software</li>
                                                <li>Modern equipment  </li>
                                                <li>Defined Standard Operating Procedure</li>
                                            </ul>
                                        </div><br>
                                        <br>
                                        <p>
                                            Our task force members are trained to have in-depth understanding of industry issues, policies and regulations. They are also given importance to detailed and thorough planning and development, simulation, training and live exercise.<br><br>
                                            Our ERT training is designed to educate and instruct your crew and prepare them for emergencies. Through meticulous planning, training and apt equipment for the situation, our end-to-end oil spill service provides an all-in-one solution to your oil spill preparedness and response needs.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class=" container">
        <div class="row">
            <div class="col-sm-12"> <h1 class="content_head">HR Management and Staffing Solutions</h1> </div>
            <div class="col-sm-6">
                <p class="content_pra">
                    JIT Marine Technical Services LLP is a front runner in professional recruitment and engineering solutions, and a dependable partner for employment administration requirements for engineering projects of varying sizes. We are an experienced player in the engineering services outsourcing frontier. For over two decades, we have been associated with major oil and gas companies, consistently maintaining an impeccable track record in recruitment innovation and excellence. JIT takes on employee management activities such as hiring, managing, and supporting engineering staff throughout the project at the project location. <br><br>
                    The benefits of outsourcing your human resource requirements to a human resource outsourcing company like JIT are many.


                </p>
            </div>
            <div class="col-sm-6"><img src="~/jitindia_theme/images/hr_management.png" class=" img-responsive"></div>
        </div>
        <div class="row">
            <div class="col-sm-12"> <h1 class="content_head">What we do</h1> </div>
            <div class="col-sm-12">
                <div class="about_con_sec">
                    <div class="col-sm-12">
                        <h2 class="content_head1">Our Process</h2>
                        <p class="content_pra1">
                            We align our availability of staff in line with customers' needs, utilizing appropriate scouting, screening and opportunity-talent mapping methods to ensure that only the top crop of qualified personnel are recommended regularly. By collaborating with the local staff at the customer project location, we ensure that full knowledge transfer takes place to the customer employees. Thus, JIT International is a reliable talent partner of oil and gas companies, promptly responding to ongoing and short-notice proficiency gaps with our world-class team of professionals. You can depend on us to ensure operational continuity at every stage with quality service and timely deployment.

                        </p>
                        <h2 class="content_head3">Recruitment</h2>
                        <div class="sub_services_list">
                            <ul>
                                <li>Application Review</li>
                                <li>Interview</li>
                                <li>Placement: The final selection of candidates will be placed in suitable ongoing and upcoming projects based on qualification and expertise. </li>
                            </ul>
                        </div><br>
                        <br>
                        <h2 class="content_head3">Project Allocation</h2>
                        <p>The selected candidates for a fixed/flexible duration project are provided the following amenities and provisions in the location of the project:</p>
                        <br>
                        <div class="sub_services_list">
                            <ul>
                                <li>Mobilization and deployment of staff, and logistics and transportation-related activity within the country</li>
                                <li>For expatriate staff, we ensure the provision and maintenance of expatriate quota, work permit, visa rights and residency.</li>
                                <li>Accommodation and medical arrangements for staff based on assigned project status</li>
                                <li>Compliance and conformity of staff to rules and regulations, procedures and policies of the customer and the geographical location of work</li>
                                <li>Remuneration of contract staff as per contractual terms and conditions</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h1 class="content_head">Why Outsource Engineering and Human Resources Requirements to Us? </h1>
                <p class="content_pra">
                    With our expertise in hiring and staff management, companies involved in the offshore/onshore projects can dedicate their focus on developing and executing engineering solutions. Our staffing solutions cover the whole gamut, from traditional temporary help positions to project placements, professionals, strategic partnerships, and regular full-time hires, and specialists for direct hire and placement. Being a well-connected group with wide-ranging networks within specialists and highly skilled personnel, we can easily source the best talent for our associates on a secondment basis, including related contract administration.<br><br>
                    Procuring human resources, in other words, recruiting is one of the most fundamental tasks associated with running a company. Coincidentally, it is also one of the tasks that quite many businesses struggle with. Being the time-intensive and resource-intensive process that it is, most businesses prefer to outsource their hiring and onboarding activities to specialists. <br><br>
                    Outsourcing is a trusted means for organizations to bring down operating costs, ramp up internal processes, and divert focus and resources to core business operations. For years now, JIT has grown from strength to strength as a professional recruitment and engineering services provider across industries.


                </p>
                <div class="about_con_sec1">
                    <h1 class="content_head2">World-Class Knowledge Base, Technical Expertise and Industrial Experience  </h1>
                    <p class="content_pra3">Our locally focused market expertise coupled with a global track record makes JIT an ideal choice for companies looking for engineering and technical workforce to join them on critical deliveries. Engineering environments can be pretty complex. Companies and engineers are often faced with situations that demand diligent observation skills, perseverance, and an alternative technical approach. Hence, recruiting engineers and technical service providers is a critical task before companies every time a new project comes up.   </p>
                </div>
                <div class="about_con_sec1">
                    <h1 class="content_head2">Freedom for Associated Companies </h1>
                    <p class="content_pra3">
                        JIT effectively lowers the time, cost, and personnel investment that companies have to otherwise spend on finding the right talent for each project role. Our giant network of engineering staff and technical officers can easily solve your hiring woes and take up the additional weight of employee management, administration, and monitoring requirements which further consume resources and time. By diminishing the drastic impact that direct hiring through the company can have on the duration and efficiency of the engineering project in hand, JIT allows you to focus on core business operations and execution of the project.

                    </p>
                </div>
                <div class="about_con_sec1">
                    <h1 class="content_head2">Lower Time and Money Investment </h1>
                    <p class="content_pra3">
                        Assessment, interviews, placement, and training of candidates is a long, tiring, and cost-intensive journey. Even for a single potential hire, companies spend the equivalent of six months of the employee's earnings on the recruitment process. JIT ensures that the skillset of its employees are always updated, as a result of which companies are saved the unnecessary time and cost associated with dealing with non-compliance issues.

                    </p>
                </div>
                <div class="about_con_sec1">
                    <h1 class="content_head2">Enables Growth</h1>
                    <p class="content_pra3">
                        Companies can avail the services of engineers, designers, and experts sourced by JIT for fixed or flexible duration projects. JIT's outsourcing lets businesses allocate their time and resources where they matter more. With this newly gained freedom to focus on a smaller area, companies can leave trivial details out and concentrate on increasing their revenue.

                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h1 class="content_head">Training and Skilling Solutions</h1>
                <p class="content_pra">
                    Training employees is a routine exercise for companies that want to invest in its workforce and improve its standing in the market. It is a powerful tool designed to educate and instruct new employees and develop and improve the competency of existing ones. Training has been proven to improve communication skills, motivate and increase job satisfaction, and trigger innovation in strategies and products. However, with each new hire, the training cycle has to repeat and so do the overhead costs. But remember, even the best hires don't function at their best when not trained effectively.<br><br>
                    Training is an unavoidable investment. It is in fact, an absolutely necessary exercise. To make it fruitful and for the company to enjoy its results without overspending finances and human effort, training can be outsourced to professionals like JIT.


                </p>
                <h1 class="content_head">What are the Benefits of Employee Training?</h1>
                <p>Employees should be well trained so that they do not make unnecessary errors and in time grow into an asset for the company. Companies can tap into many benefits that well-trained and upskilled/reskilled employees bring to the table.</p>
                <div class="about_con_sec1">
                    <h1 class="content_head2">Innovative and Motivated Employees </h1>
                    <p class="content_pra3">
                        Training is a great way to improve creativity and enhance their ability to contribute bigger and sharper ideas. By stimulating their brain with new information continuously, the team becomes stronger in valued qualities like problem-solving, innovation, and nurtures a learning culture.
                    </p>
                </div>
                <div class="about_con_sec1">
                    <h1 class="content_head2">Competitive Employees and Companies </h1>
                    <p class="content_pra3">
                        Technology is a shape-shifting manifestation of scientific knowledge. Engineering and other technical solutions companies that invest in training and skilling their employees on cutting-edge technology are more likely to stay on top of the industry standards and continuously improve existing levels of performance.
                    </p>
                </div>
                <div class="about_con_sec1">
                    <h1 class="content_head2">Achieving Compliance with Regulatory Requirements </h1>
                    <p class="content_pra3">
                        Regulatory requirements and policies are revised every year. Moreover, depending on where in the world the project is being executed, standards for safety and environment have to be kept up in practice. In the engineering industry, compliance is crucial. Noncompliance issues have cost companies billions of dollars in the past and still do. The damaged reputation is harder to rebuild than sums lost in penalty. Trained employees are less likely to cause noncompliance and have a greater probability of adhering to regulatory requirements and policies existing nationally and internationally.

                        Today, training is synonymous with career advancement for associates and the right investment as far as companies are concerned. The disappointing skill gap in engineering graduates experienced by many companies in the industry can be bridged to some extent by means of carefully scheduled training. A straightforward method is to train your employees in-house using the company's resources so that they can start producing quality work. However, in-house training comes with its fair share of training costs.

                        Additionally, there's the risk associated with bad employee retention rates. Outsourcing skilling activities to training and learning experts such as JIT can help you reduce costs while staying competitive.

                    </p>
                </div><br>
                <br>
                <h1 class="content_head">What Makes our Training and Development from Expert Consultants at JIT Different?</h1>
                <div class="about_con_sec1">
                    <h1 class="content_head2">Integrated, comprehensive, and cost-effective training services </h1>
                    <p class="content_pra3">
                        JIT enjoys exclusive access to a wide-ranging hotpot of international engineering talent and expertise owing to its well-positioned role as an engineering and technology solutions provider company. JIT consultants provide various types of industrial training for training and development activities. Companies can associate with us assured of the quality of training content, professionalism, and relevance of training topics. JIT has put in massive effort into the preparation of integrated, comprehensive, and cost-effective training services on instrumentation and process control, electrical control, and power monitoring systems based on the operating industry.
                    </p>
                </div>
                <div class="about_con_sec1">
                    <h1 class="content_head2">Deep-Tech Knowledge and Experience </h1>
                    <p class="content_pra3">
                        Today, JIT is positioned as a strategic knowledge partner for engineering companies and other key players, especially in the oil and gas industry. Our team of specialists in PLC, DCS, SCADA, SIS, ESD, and fire and gas control systems come with years of experience in EPC companies, possess deep technical know-how, and are well-versed in best practices and cross-industry technological standards. Such experts from various domains have put their heads together to come up with unique teaching methods founded on a wealth of knowledge and experience.
                    </p>
                </div>
                <div class="about_con_sec1">
                    <h1 class="content_head2">Assorted Collection of Training Programs </h1>
                    <p class="content_pra3">
                        We have a carefully curated assortment of training programs based on the knowledge level and type of learner audience, experience levels, and specific job roles of employees. Already a preferred learning partner, JIT now holds a strategic position as a top-notch solution for training and development activities in engineering companies. In addition to routine in-class training, our learning and content creation team undertakes requirements like training requirement surveys for companies and employees, skill development planning, and coordination of on-job training.<br>
                        <br>
                        <strong> Check out our full training program list here...</strong>
                    </p>
                </div>
                <h1 class="content_head"> Training Programs from the Intellectual Hotpot of JIT</h1>
                <p>Our in-house subject matter experts, trainers, specialized engineers, and designers have curated intensively engaging and highly interactive training content. The intention of these sessions is to evoke interest, trigger original thought, and prove useful and of actionable value to the learner. Some of the cutting-edge, futuristic training courses offered by JIT:</p>
                <div class="about_con_sec1">
                    <h1 class="content_head2">Best Practices and International Standards for Onshore and Offshore Companies </h1>
                    <p class="content_pra3">
                        Operations for onshore/offshore projects and marine services such as shipboard inspections and operations, offshore installation regulations, manual handling, noise awareness and security while abroad on projects. International standards training comprises safety regulations, environmental laws and compliance with quality standards. The team has been pushing out relevant content, devising novel training methodologies and expanding training portfolios with every new batch of trainees.

                    </p>
                </div>
                <div class="about_con_sec1">
                    <h1 class="content_head2">Safety Training Solutions for Oil and Gas industries </h1>
                    <p class="content_pra3">
                        JIT's safety training solutions stem from the understanding that for a worker to function with precision and presence of mind, they should be rigorously trained on safety. Our courses cover subjects such as minimum industry safety training, emergency response (to oil spills, etc), offshore first aid, hazardous waste operations, dangerous goods, and radioactive materials, etc.

                    </p>
                </div>
                <div class="about_con_sec1">
                    <h1 class="content_head2">INTOOLS Training </h1>
                    <p class="content_pra3">
                        INtools is the leading software that finds application in process and power industries, especially in instrumentation information management and technical processes like control valve and orifice plate sizing, PLC wiring, etc. Some important business benefits of INtools can be experienced in the domains of design, engineering, operations, construction, and maintenance. For instance, the number of instrumentation assets is generally high in engineering environments and are frequently changed. In such scenarios, INtools effectively reduces the cost and management effort required to keep track of instrumentation assets and handle plant operation.

                    </p>
                </div>
                <div class="about_con_sec1">
                    <h1 class="content_head2">AUTO CAD and MICRO STATION Training </h1>
                    <p class="content_pra3">
                        AutoCAD is a popular design and drafting software that can create 2D and 3D representations with the aid of computers. MicroStation is a similar computer-aided design and drafting software platform with advanced engineering design, modeling, visualization, and drawing production capabilities, allowing professionals to work on projects of any complexity level. Architects, engineers, and construction professionals find the application of AutoCAD in their day-to-day work. These software have significant positive impact on design and analysis in businesses.<br><br>
                        To summarize, JIT's training programs comprehensively cover all aspects of engineering associated with oil and gas production. The sessions are crafted and held in a cost-effective manner with suitability and applicability to the industry as primary concerns. Learn how our training programs are helping companies and teams across businesses develop, function, and grow stronger.<br><br>
                        If you'd like to leverage the benefits of in-house training, we can support you to establish your own training center with simulators by contributing our know-how and broad training portfolios. Contact us today to know how!


                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-----------------------------------End Service---------------------------->
