﻿@page
@model GymManagment.Pages.SettingsModel
@{
    ViewData["Title"] = "Settings";
}

<div class="row">
	<form method="post">

		<div class="col-md-12">

			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Settings.Id" />

			<div class="col-sm-6">
				<div class="form-group">
					<label>Company Name</label>
					<input type="text" asp-for="Settings.CompanyName" class="form-control" />
				</div>
			</div>

			<div class="col-sm-6">
				<div class="form-group">
					<label>Address 1</label>
					<input type="text" asp-for="Settings.Address1" class="form-control" />
				</div>
			</div>

			<div class="col-sm-6">
				<div class="form-group">
					<label>Address 2</label>
					<input type="text" asp-for="Settings.Address2" class="form-control" />
				</div>
			</div>

			<div class="col-sm-6">
				<div class="form-group">
					<label>Address 3</label>
					<input type="text" asp-for="Settings.Address3" class="form-control" />
				</div>
			</div>

			<div class="col-sm-6">
				<div class="form-group">
					<label>ContactNo</label>
					<input type="text" asp-for="Settings.ContactNo" class="form-control" />
				</div>
			</div>

			<div class="col-sm-6">
				<div class="form-group">
					<label>Website</label>
					<input type="text" asp-for="Settings.Website" class="form-control" />
				</div>
			</div>

			<div class="col-sm-6">
				<div class="form-group">
					<label>Email Address</label>
					<input type="text" asp-for="Settings.EmailAddress" class="form-control" />
				</div>
			</div>

			<div class="col-sm-12">
				<div class="form-group">
					<label>Invoice Footer Text</label>
					<input type="text" asp-for="Settings.InvoiceFooterText" class="form-control" />
				</div>
			</div>

			<div class="col-sm-12">
				<div class="form-group">
					<label>Balance Invoice Footer Text</label>
					<input type="text" asp-for="Settings.BalanceInvoiceFooterText" class="form-control" />
				</div>
			</div>

			<div class="col-sm-12">
				<div class="form-group">
					<label>Balance Invoice Footer Text</label>
					<input type="text" asp-for="Settings.BalanceInvoiceFooterText" class="form-control" />
				</div>
			</div>
			<div class="col-sm-12">
				<div class="form-group">
					<label>About Us</label>
					<input type="text" asp-for="Settings.AboutUs" class="form-control" />
				</div>
			</div>

			<div class="col-sm-12">
				<div class="form-group">
					<label>Facebook Link</label>
					<input type="text" asp-for="Settings.Facebook" class="form-control" />
				</div>
			</div>

			<div class="col-sm-12">
				<div class="form-group">
					<label>Twitter Link</label>
					<input type="text" asp-for="Settings.Twitter" class="form-control" />
				</div>
			</div>
			<div class="col-sm-12">
				<div class="form-group">
					<label>Instagram Link</label>
					<input type="text" asp-for="Settings.Instagram" class="form-control" />
				</div>
			</div>

			<div class="form-group">
				<input type="submit" asp-page-handler="Save" value="Save" class="btn btn-primary" />
			</div>

		</div>
	</form>
</div>

