﻿@page
@model GymManagment.Pages.MaritimeServiceModel
@{
    ViewData["Title"] = "Maritime Services";
    Layout = "_JitLayout";
}
<!-----------------------------------Banner---------------------------->
@await Component.InvokeAsync("LearningBanner", new { key = "LearningBanner" })
<!--------------------------------End Banner--------------------------->
<!-----------------------------------Simplifying Learning---------------------------->
<section>
    <div class=" container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="about_cont_area">
                    <div class="pull-right"><a href="Index"><img src="~/jitindia_theme/images/Go_back_button.svg" class="center-block"></a></div>
                    <div class="clearfix"></div>
                    <h1>Simplifying Learning</h1>
                    <p>
                        JIT Marine Technical Services LLP is for Industries customers for various type of Industrial Trainings.
                        We are consultants who provide integrated, comprehensive and cost effective instrumentation and Process control
                        Training, Electrical Control and Power Monitoring System Training. We are specialized in PLC, DCS, SCADA, SIS, ESD
                        and Fire and Gas Control Systems.<br><br>
                        A single place for your Training requirement. We undertake special task requirement like Training
                        requirement survey for Employees, Employees Skill Development Planning. Coordination of On-Job Training.
                        Training on best practices and international Standards for onshore and offshore companies. Customized
                        Safety Training Solutions for Oil and Gas industries. INTOOLS Training. AUTO CAD and MICRO STATION Training.
                        We also support our clients to establish their own training center with simulators.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--------------------------------End Simplifying Learning--------------------------->
