﻿@page
@model GymManagment.Pages.TechnicalServiceModel
@{
    ViewData["Title"] = "Technical Services";
    Layout = "_JitLayout";
}
<!-----------------------------------Banner---------------------------->
@await Component.InvokeAsync("TechnicalServiceBanner", new { key = "TechnicalServiceBanner" })
<!--------------------------------End Banner--------------------------->
<!-----------------------------------Simpifying Resource Management---------------------------->
<section>
    <div class=" container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="about_cont_area">
                    <div class="pull-right"><a href="Index"><img src="~/jitindia_theme/images/Go_back_button.svg" class="center-block"></a></div>
                    <div class="clearfix"></div>
                    <h1>Simplifying Resources Management</h1>
                    <p>
                        JIT Marine Technical Services LLP, is a frontrunner group in professional Recruitment and Engineering
                        Technical solutions. For over two decades, we have been offering a powerful combination of locally
                        focused market expertise coupled with a global track record in innovation and excellence.<br><br>

                        We deliver the entire gamut of staffing solutions from traditional temporary help
                        to project placements, professionals, strategic partnerships and regular, full time hires.
                        We source for specialists and highly skilled trades personnel for you on a secondment basis,
                        including related Contract Administration. We also provide specialists for direct hire and placement.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--------------------------------End Simpifying Resource Management--------------------------->
