﻿@page
@model GymManagment.Pages.CMS.FacilitiesModel
@{
    ViewData["Title"] = "Facilities";
}

<p class="header-create-new">
	<input type="button" class="btn btn-primary" value="Create New" id="btnNew">
</p>

<script>
	$('#btnNew').click(function () {
		window.location.href = '/CMS/Facility';
		return false;
	});
</script>

<div class="table-responsive">
	<table class="table table-striped table-bordered" role="grid" aria-describedby="datatable-buttons_info">
		<thead>
			<tr>
				<th style="width: 25px;"></th>
				<th>
					HeaderText
				</th>
				<th>
					DescriptionText
				</th>
				<th>
					Is Active
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.Items)
			{
			<tr>
				<td>
					<a asp-page="./Facility" asp-route-id="@item.Id"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Text1)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Text2)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IsActive)
				</td>
			</tr>
			}
		</tbody>
	</table>
</div>

