﻿@page
@model GymManagment.Pages.WorkoutPlan.IndexModel
@{
	ViewData["Title"] = "Workout Plan";
	ViewData["PageHeading"] = "Workout Plan";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}

<datalist id="activitylist"></datalist>
<datalist id="excerciselist"></datalist>
<datalist id="timelist"></datalist>

<script src="~/js/workout.js"></script>

<div class="row">

	<div class="col-sm-1"></div>
	<div class="col-sm-10">
		<div class="row">
			<div class="col-sm-3">
				<div class="form-group">
					<label for="exampleInputEmail1">Membership No</label>
					<input type="text" class="form-control" id="txtMembershipNo" placeholder="Membership No " />
				</div>
			</div>

			<div class="col-sm-6">
				<div class="form-group">
					<label for="exampleInputEmail1">First Name</label>
					<input type="text" class="form-control" id="txtFirstName" placeholder="First Name" />
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<div class="form-group">
					<label for="exampleInputEmail1">Week</label>
					<input type="date" class="form-control" id="txtDateFrom" placeholder="DD/MM/YYYY" />
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group">
					<label for="exampleInputEmail1"> </label>
					<input type="date" class="form-control" id="txtDateTo" placeholder="DD/MM/YYYY" />
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="col-sm-12">
				<div class="form-group">
					<label for="exampleInputEmail1">Goals</label>
					<textarea id="txtGoal" cols="" rows="" class="form-control form-control1" placeholder="Goals"></textarea>
				</div>
			</div>
		</div>


		<div class="col-sm-12  border-class" style="overflow:auto;margin-top:10px;max-height:200px;padding: 0px;">
			<table id="tblWarmupGrid" class="table table-hover table-bordered">
				<thead class="grid_header">
				<th colspan="8" class="text-center">WARM UP <input type="button" id="btnWarmUp" value="Add New" class="btn btn-success" style="float:right" data-toggle="modal" data-target="#WarmUpModel" /></th>
				</thead>
				<thead class="grid_header">
				<th></th>
				<th></th>
				<th>DAYS</th>
				<th>ACTIVITY</th>
				<th>TIME/DIST</th>
				<th>SETS/REPS</th>
				<th>INTENSITY</th>
				<th>NOTES</th>
				</thead>
				<tbody></tbody>
			</table>
		</div>

		<div class="col-sm-12  border-class" style="overflow:auto;margin-top:10px;max-height:200px;padding: 0px;">
			<table id="tblStrengthGrid" class="table table-hover table-bordered">
				<thead class="grid_header">
				<th colspan="8" class="text-center">STRENGTH TRAINING <input type="button" id="btnStrength" value="Add New" class="btn btn-success" data-toggle="modal" data-target="#StrengthModel" style="float:right" /></th>
				</thead>
				<thead class="grid_header">
				<th></th>
				<th></th>
				<th>DAYS</th>
				<th>EXERCISES</th>
				<th>SETS/ REPS</th>
				<th>WEIGHT</th>
				<th>REST TIME</th>
				<th>NOTES</th>
				</thead>
				<tbody></tbody>
			</table>
		</div>

		<div class="col-sm-12  border-class" style="overflow:auto;margin-top:10px;max-height:200px;padding: 0px;">
			<table id="tblCardioGrid" class="table table-hover table-bordered">
				<thead class="grid_header">
				<th colspan="8" class="text-center">CARDIO TRAINING <input type="button" id="btnCardio" value="Add New" class="btn btn-success" data-toggle="modal" data-target="#CardioModel" style="float:right" /></th>
				</thead>
				<thead class="grid_header">
				<th></th>
				<th></th>
				<th>DAYS</th>
				<th>EXERCISES</th>
				<th>TIME / DIST</th>
				<th>TARGET HR</th>
				<th>INTENSITY</th>
				<th>NOTES</th>
				</thead>
				<tbody></tbody>
			</table>
		</div>

		<div class="col-sm-12  border-class" style="overflow:auto;margin-top:10px;max-height:200px;padding: 0px;">
			<table id="tblCooldownGrid" class="table table-hover table-bordered">
				<thead class="grid_header">
				<th colspan="8" class="text-center">COOL DOWN<input type="button" id="btnCoolDown" value="Add New" class="btn btn-success" data-toggle="modal" data-target="#CoolDownModel" style="float:right" /></th>
				</thead>
				<thead class="grid_header">
				<th></th>
				<th></th>
				<th>DAYS</th>
				<th>ACTIVITY</th>
				<th>TIME / DIST</th>
				<th>SETS/ REPS</th>
				<th>INTENSITY</th>
				<th>NOTES</th>
				</thead>
				<tbody></tbody>
			</table>
		</div>

		<div class="form-group">
			<input type="button" value="Save" class="btn btn-primary" id="btnWorkoutSave" />
			<input type="button" id="btnNew" value="New" class="btn btn-success" />
		</div>
	</div>



	<div class="clearfix"></div>
</div>

<div class="modal fade" id="WarmUpModel" tabindex="-1" role="dialog" aria-labelledby="WarmUpModelLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="WorkoutLabel">Warm Up</h4>
			</div>
			<div class="modal-body">
				<div class="clearfix"></div>

				<div class="col-sm-3">
					<div class="form-group">
						<label for="txtWarmupDays">Day From</label>
						<input type="text" class="form-control integer" id="txtWarmupDayFrom" placeholder="Day From">
					</div>
				</div>

				<div class="col-sm-3">
					<div class="form-group">
						<label for="txtWarmupDays">Day To</label>
						<input type="text" class="form-control integer" id="txtWarmupDayTo" placeholder="Day To">
					</div>
				</div>

				<div class="col-sm-6">
					<div class="form-group">
						<label for="txtWarmupActivity">Activity</label>
						<input type="text" id="txtWarmupActivity" class="form-control" autocomplete="off" aria-describedby="Span6" list="activitylist" />
					</div>
				</div>

				<div class="col-sm-6">
					<div class="form-group">
						<label for="cmbWarmupTimeDist">Time / Dist</label>
						<input type="text" class="form-control" id="txtWarmupTimeDist" placeholder="Time / Dist" list="timelist">
					</div>
				</div>


				<div class="col-sm-6">
					<div class="form-group">
						<label for="txtWarmupSetsReps">Sets / Reps</label>
						<input type="text" class="form-control" id="txtWarmupSetsReps" placeholder="Sets/ Reps">
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="cmbWarmupIntensity">Intensity</label>
						<select id="cmbWarmupIntensity" class="custom-select"></select>
					</div>
				</div>

				<div class="col-sm-12">
					<div class="form-group">
						<label for="txtWarmupNotes">Notes</label>
						<textarea id="txtWarmupNotes" cols="" rows="" class="form-control form-control1" placeholder="Notes"></textarea>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="modal-footer" style="">
				<input type="button" id="btnWarmupAdd" value="Add" class="btn btn-success" />
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="StrengthModel" tabindex="-1" role="dialog" aria-labelledby="StrengthModelLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Strength Training</h4>
			</div>

			<div class="modal-body">
				<div class="col-sm-3">
					<div class="form-group">
						<label for="txtStrengthDays">Day From</label>
						<input type="text" class="form-control integer" id="txtStrengthDayFrom" placeholder="Day From">
					</div>
				</div>

				<div class="col-sm-3">
					<div class="form-group">
						<label for="txtStrengthDays">Day To</label>
						<input type="text" class="form-control integer" id="txtStrengthDayTo" placeholder="Day To">
					</div>
				</div>

				<div class="col-sm-6">
					<div class="form-group">
						<label for="txtStrengthExcercise">Excercise</label>
						<input type="text" id="txtStrengthExcercise" class="form-control" autocomplete="off" aria-describedby="Span6" list="excerciselist" />

					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="txtStrengthSetsReps">Sets/ Reps</label>
						<input type="text" class="form-control" id="txtStrengthSetsReps" placeholder="Sets/ Reps">

					</div>
				</div>


				<div class="col-sm-6">
					<div class="form-group">
						<label for="txtStrengthSetsReps">Weight</label>
						<input type="text" class="form-control" id="txtStrengthWeight" placeholder="Weight">
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="cmbStrengthIntensity">Rest Time</label>
						<input type="text" class="form-control" id="txtStrengthRestTime" placeholder="Rest Time" list="timelist">
					</div>
				</div>

				<div class="col-sm-12">
					<div class="form-group">
						<label for="txtStrengthNotes">Notes</label>
						<textarea id="txtStrengthNotes" cols="" rows="" class="form-control form-control1" placeholder="Notes"></textarea>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="modal-footer" style="">
				<input type="button" id="btnStrengthAdd" value="Add" class="btn btn-success" />
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="CardioModel" tabindex="-1" role="dialog" aria-labelledby="CardioModelLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="WorkoutLabel">Cardio Training</h4>
			</div>
			<div class="modal-body">
				<div class="clearfix"></div>

				<div class="col-sm-3">
					<div class="form-group">
						<label for="txtCardioDays">Day From</label>
						<input type="text" class="form-control integer" id="txtCardioDayFrom" placeholder="Day From">
					</div>
				</div>

				<div class="col-sm-3">
					<div class="form-group">
						<label for="txtCardioDays">Day To</label>
						<input type="text" class="form-control integer" id="txtCardioDayTo" placeholder="Day To">
					</div>
				</div>

				<div class="col-sm-6">
					<div class="form-group">
						<label for="txtCardioExcercise">Excercise</label>
						<input type="text" id="txtCardioExcercise" class="form-control" autocomplete="off" aria-describedby="Span6" list="excerciselist" />
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="txtCardioTimeDist">Time / Dist</label>
						<input type="text" class="form-control" id="txtCardioTimeDist" placeholder="Time / Dist" list="timelist">
					</div>
				</div>


				<div class="col-sm-6">
					<div class="form-group">
						<label for="txtCardioSetsReps">Target HR</label>
						<input type="text" class="form-control" id="txtCardioTargetHR" placeholder="Target HR">
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="cmbCardioIntensity">Intensity</label>
						<select id="cmbCardioIntensity" class="custom-select"></select>
					</div>
				</div>

				<div class="col-sm-12">
					<div class="form-group">
						<label for="txtCardioNotes">Notes</label>
						<textarea id="txtCardioNotes" cols="" rows="" class="form-control form-control1" placeholder="Notes"></textarea>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="modal-footer" style="">
				<input type="button" id="btnCardioAdd" value="Add" class="btn btn-success" />
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="CoolDownModel" tabindex="-1" role="dialog" aria-labelledby="CoolDownModelLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Cool Down</h4>
			</div>
			<div class="modal-body">
				<div class="clearfix"></div>

				<div class="col-sm-3">
					<div class="form-group">
						<label for="txtCoolDownDays">Day From</label>
						<input type="text" class="form-control integer" id="txtCoolDownDayFrom" placeholder="Day From">
					</div>
				</div>

				<div class="col-sm-3">
					<div class="form-group">
						<label for="txtCoolDownDays">Day To</label>
						<input type="text" class="form-control integer" id="txtCoolDownDayTo" placeholder="Day To">
					</div>
				</div>

				<div class="col-sm-6">
					<div class="form-group">
						<label for="txtCoolDownActivity">Activity</label>
						<input type="text" id="txtCoolDownActivity" class="form-control" autocomplete="off" aria-describedby="Span6" list="activitylist" />
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="txtCoolDownTimeDist">Time / Dist</label>
						<input type="text" class="form-control" id="txtCoolDownTimeDist" placeholder="Time / Dist" list="timelist">
					</div>
				</div>


				<div class="col-sm-6">
					<div class="form-group">
						<label for="txtCoolDownSetsReps">Sets/ Reps</label>
						<input type="text" class="form-control" id="txtCoolDownSetsReps" placeholder="Sets/ Reps">
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="cmbCoolDownIntensity">Intensity</label>
						<select id="cmbCoolDownIntensity" class="custom-select"></select>
					</div>
				</div>

				<div class="col-sm-12">
					<div class="form-group">
						<label for="txtCoolDownNotes">Notes</label>
						<textarea id="txtCoolDownNotes" cols="" rows="" class="form-control form-control1" placeholder="Notes"></textarea>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="modal-footer" style="">
				<input type="button" id="btnCooldownAdd" value="Add" class="btn btn-success" />
			</div>
		</div>
	</div>
</div>

<partial name="SearchMember" />