﻿@page
@{
	Layout = null;
}

<!DOCTYPE html>
<html>

<head>
	<title>Club Active</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />

	<base href='@Url.Content("~/")'>

	<link href="~/theme/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/theme/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="~/theme/css/gym.css" rel="stylesheet" type="text/css" media="all" />
	<link href="~/theme/css/menu.css" rel="stylesheet" />
	<link href="~/theme/css/custome_style.css" rel="stylesheet" />
	<link rel="stylesheet" href="~/theme/css/font_awsome.css">

	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&display=swap" rel="stylesheet">

	<script src="https://kendo.cdn.telerik.com/2017.2.621/js/jquery.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2017.2.621/js/jszip.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>


	<script src="~/js/ajax.js"></script>
	<script src="~/js/general.js"></script>
	<script src="~/js/workout_chart.js"></script>

</head>

<body>

	<div id="PDFcontent">

		<div class="content_area" style="margin:0px">
			<div class="container-fluid">
				<div>
					<div class="contnets_se">
						<div class="section_box1">
							<div class="section_box1_content">

								<h4>Exercise Chart</h4>
								<div><img src="~/theme/images/pdf_logo.png" style="float:right; width:200px; text-align:right; margin:0px 0px 25px 0px"></div>
								<div class="clearfix"></div>

								<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td width="60px" style="font-size:16px; font-weight:bold; color:#000;">Week</td>
										<td width="180px" style="border-bottom:1px solid #000; text-align:center;" id="divDateFrom"></td>
										<td width="40px" style="text-align:center;">To</td>
										<td width="180px" style="border-bottom:1px solid #000; text-align:center;" id="divDateTo"></td>
										<td width="540px">&nbsp;</td>
									</tr>
								</table>

								<table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin:15px 0px 25px 0px">
									<tr>
										<td width="60px" style="font-size:16px; font-weight:bold; color:#000;">Goals</td>
										<td style="text-align: left; font-size:14px; padding:5px 0px 5px 0px;" id="divGoal"></td>
									</tr>
								</table>

								<div id="divChart"></div>

								
							</div>
							</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="col-sm-12" style="margin-bottom:10px;">
		<button id="gpdf" class="btn btn-primary" onclick="ExportPdf();">Generate PDF</button>
		<a href="/">
			<input type="button" class="btn btn-danger" value="Go to Home" />
		</a>
	</div>
	

	<script>
		function ExportPdf() {
			kendo.drawing
				.drawDOM("#PDFcontent",
					{
						paperSize: "A4",
						margin: { top: "0cm", bottom: "0cm" },
						scale: 0.8,
						height: 500
					})
				.then(function (group) {
					kendo.drawing.pdf.saveAs(group, "Exported.pdf")
				});
		}
	</script>
</body>
</html>