﻿@font-face {
    font-family: SourceSansPro;
    src: url(SourceSansPro-Regular.ttf);
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

a {
    color: #fb8620;
    text-decoration: none;
}

body {
    position: relative;
    width: 21cm;
    height: 29.7cm;
    margin: 0 auto;
    color: #555555;
    background: #FFFFFF;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-family: SourceSansPro;
}

header {
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #AAAAAA;
}

#logo {
    float: left;
    /*margin-top: 8px;*/
}

    #logo img {
        height: 70px;
    }

#company {
    float: right;
    text-align: right;
}


#details {
    margin-bottom: 10px;
}

#client {
    padding-left: 8px;
    border-left: 3px solid #fb8620;
    float: left;
}

    #client .to {
        color: #777777;
    }

h2.name {
    font-size: 1.4em;
    font-weight: normal;
    margin: 0;
}

#invoice {
    float: right;
    text-align: right;
}

    #invoice h1 {
        color: #fb8620;
        font-size: 2.4em;
        line-height: 1em;
        font-weight: normal;
        margin: 0 0 10px 0;
    }

    #invoice .date {
        font-size: 1.1em;
        color: #777777;
    }

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
}

    table th,
    table td {
        padding: 5px;
        text-align: center;
        border-bottom: 1px solid #FFFFFF;
    }

    table th {
        white-space: nowrap;
        font-weight: normal;
    }

    table td {
        text-align: right;
    }

        table td h3 {
            color: #fb8620;
            font-size: 1.2em;
            font-weight: normal;
            margin: 0 0 0.2em 0;
        }

    table .no {
        /*color: #FFFFFF;*/
        /*background: #fb8620;*/
        text-align: center;
    }

    table .desc {
        text-align: left;
        /*background: #fb8620;*/
    }

    table .desc-data {
        text-align: left;
    }

    table .unit {
        background: #DDDDDD;
    }

    table .qty {
    }

    table .total {
        /*background: #fb8620;*/
        /*color: #FFFFFF;*/
    }

    table td.unit,
    table td.qty,
    table td.total {
        font-size: 1.2em;
    }

    table tbody tr:last-child td {
        border: none;
    }

    table tfoot td {
        padding: 10px 20px;
        background: #FFFFFF;
        border-bottom: none;
        font-size: 1.2em;
        white-space: nowrap;
        border-top: 1px solid #AAAAAA;
    }

    table tfoot tr:first-child td {
        border-top: none;
    }

    table tfoot tr:last-child td {
        color: #fb8620;
        font-size: 1.4em;
        border-top: 1px solid #fb8620;
    }

    table tfoot tr td:first-child {
        border: none;
    }

#thanks {
    font-size: 2em;
    margin-bottom: 50px;
}

#notices {
    padding-left: 8px;
    border-left: 3px solid #fb8620;
}

    #notices .notice {
        font-size: 1.2em;
    }

footer {
    color: #777777;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #AAAAAA;
    padding: 8px 0;
    text-align: center;
}

.itemGrid, .itemGrid th, .itemGrid td {
    border: 1px solid black !important;
}

@media print {
    #printButton {
        display: none;
    }
}

.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

    .close:hover {
        opacity: 1;
    }

    .close:before, .close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #333;
    }

    .close:before {
        transform: rotate(45deg);
    }

    .close:after {
        transform: rotate(-45deg);
    }

.close-new {
    position: absolute;
    right: 0px;
    top: -32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    font-size: 40px;
    color: #848383;
    -webkit-text-stroke: 2px white;
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }

    .header-margin {
        margin-top: 0px !important;
    }
}
