﻿@model GymManagment.Core.ViewModels.WebsiteFooterViewModel
<!-----------------------------------Header---------------------------->
<section>
    <div class="bottom-sec">
        <div class="sec_main">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 wow fadeInLeft" data-wow-delay=".4s">
                        <div class="bottom_logo"><img src="~/jitindia_theme/images/logo.png" class="img-responsive"></div>
                        <h2>About Company</h2>
                        <p>@Model.AboutUs.CompanyName, provides professional Engineering Technical solutions. </p>
                    </div>
                    <div class="col-sm-2 wow fadeInLeft" data-wow-delay=".6s">
                        <ul>
                            <li><a href="index.html">Home </a> </li>
                            <li><a href="about_us.html">About Us</a> </li>
                            <li><a href="services.html">Services</a></li>
                            <li><a href="careers.html">Careers</a></li>
                            <li><a href="cetificates.html">Certifications</a></li>
                            <li><a href="contact_us.html">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 wow fadeInLeft" data-wow-delay=".8s">
                        <div class="bottom_icons"><img src="~/jitindia_theme/images/bottom_Location_icon.svg" class="img-responsive"></div>
                        <div class="bottom_ic_con">@Model.AboutUs.CompanyName<br>@Model.AboutUs.Address1<br>@Model.AboutUs.Address2</div>
                        <div class="clearfix"></div>
                        <div class="bottom_icons"><img src="~/jitindia_theme/images/bottom_Phone_icon.svg" class="img-responsive"></div>
                        <div class="bottom_ic_con">@Model.AboutUs.ContactNo</div>
                        <div class="clearfix"></div>
                        <div class="bottom_icons"><img src="~/jitindia_theme/images/bottom_Mail_icon-1.svg" class="img-responsive"></div>
                        <div class="bottom_ic_con">@Model.AboutUs.EmailAddress</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-sm-3 wow fadeInLeft" data-wow-delay=".8s">
                        <h3></h3>
                        <div class="social">
                            <a href="@Model.AboutUs.Facebook"><img src="~/jitindia_theme/images/Footer_FB.svg" class="center-block"></a>
                            <a href="@Model.AboutUs.Twitter"><img src="~/jitindia_theme/images/Footer_twitter.svg" class="center-block"></a>
                            <a href="@Model.AboutUs.Instagram"><img src="~/jitindia_theme/images/Footer_insta.svg" class="center-block"></a>
                            <a href="#"><img src="~/jitindia_theme/images/Footer_youtube.svg" class="center-block"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-sec1">
            JIT MTS © @DateTime.Now.Year
        </div>
    </div>
</section>
<!-----------------------------------End Header---------------------------->
