﻿@inherits Microsoft.VisualStudio.Web.CodeGeneration.Templating.RazorTemplateBase
@using Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore
@using System.Collections.Generic
@using System.Linq
@@page
@@model @Model.NamespaceName.@Model.PageModelClassName

@{
	if (Model.IsPartialView)
	{
	}
	else if (Model.IsLayoutPageSelected)
	{
		@:@@{
		@:ViewData["Title"] = "Edit @Model.ViewDataTypeShortName";
		@:ViewData["PageHeading"] = "Edit @Model.ViewDataTypeShortName";
		if (!string.IsNullOrEmpty(Model.LayoutPageFile))
		{
			@:Layout = "@Model.LayoutPageFile";
		}
		@:}

	}
	else
	{
		@:@@{
		@:Layout = null;
		@:}
		@:
		@:<!DOCTYPE html>
		@:
		@:<html>
		@:<head>
			@:<meta name="viewport" content="width=device-width" />
			@:<title>@Model.RazorPageName</title>
		@:</head>
		@:<body>
			@:
			//    PushIndent("    ");
		}
		@:<div class="row">
			@:<div class="col-md-4">
				@:<form method="post">
					@:<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					foreach (PropertyMetadata property in Model.ModelMetadata.Properties)
					{
						if (property.IsPrimaryKey)
						{
							@:<input type="hidden" asp-for="@(Model.ModelTypeName).@property.PropertyName" />
							continue;
						}

						if (property.Scaffold)
						{
							if (property.IsReadOnly)
							{
								continue;
							}

							if (property.IsForeignKey)
							{
								@:<div class="form-group">
									@:<label asp-for="@(Model.ModelTypeName).@property.PropertyName" class="control-label"></label>
									@:<select asp-for="@(Model.ModelTypeName).@property.PropertyName" class="form-control" asp-items="ViewBag.@property.PropertyName"></select>
									@:<span asp-validation-for="@(Model.ModelTypeName).@property.PropertyName" class="text-danger"></span>
								@:</div>
								continue;
							}

							bool isCheckbox = property.TypeName.Equals("System.Boolean");
							if (isCheckbox)
							{
								@:<div class="form-group form-check">
									@:<label class="form-check-label">
										@:<input class="form-check-input" asp-for="@(Model.ModelTypeName).@property.PropertyName" /> @@Html.DisplayNameFor(model => model.@(Model.ModelTypeName).@GetValueExpression(property))
									@:</label>
								@:</div>
							}
							else if (property.IsEnum && !property.IsEnumFlags)
							{
								@:<div class="form-group">
									@:<label asp-for="@(Model.ModelTypeName).@property.PropertyName" class="control-label"></label>
									@:<select asp-for="@(Model.ModelTypeName).@property.PropertyName" class="form-control"></select>
									@:<span asp-validation-for="@(Model.ModelTypeName).@property.PropertyName" class="text-danger"></span>
								@:</div>
							}
							else if (property.IsMultilineText)
							{
								@:<div class="form-group">
									@:<label asp-for="@(Model.ModelTypeName).@property.PropertyName" class="control-label"></label>
									@:<textarea asp-for="@(Model.ModelTypeName).@property.PropertyName" class="form-control"></textarea>
									@:<span asp-validation-for="@(Model.ModelTypeName).@property.PropertyName" class="text-danger"></span>
								@:</div>
							}
							else
							{
								@:<div class="form-group">
									@:<label asp-for="@(Model.ModelTypeName).@property.PropertyName" class="control-label"></label>
									@:<input asp-for="@(Model.ModelTypeName).@property.PropertyName" class="form-control" />
									@:<span asp-validation-for="@(Model.ModelTypeName).@property.PropertyName" class="text-danger"></span>
								@:</div>
							}
						}
						// Ideally we shouldn't be here  but if the user marks the foreign key as [ScaffoldColumn(false)], we want to atleast try to make it work.
						else if (property.IsForeignKey)
						{
							@:<input type="hidden" asp-for="@(Model.ModelTypeName).@property.PropertyName" />
							continue;
						}
					}
}
<div class="form-group">
	<input type="submit" value="Save" class="btn btn-primary" />
</div>
</form>
</div>
</div>

<div>
	<a asp-page="./Index">Back to List</a>
</div>

@{
	if (Model.ReferenceScriptLibraries)
	{
		@:@@section Scripts {
		@:@@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
		@:}
	}
	// The following code closes the tag used in the case of a view using a layout page and the body and html tags in the case of a regular view page
	if (!Model.IsPartialView && !Model.IsLayoutPageSelected)
	{
	@:</body>
@:</html>
}
}
@functions
{
string GetAssociationName(IPropertyMetadata property)
{
	//Todo: Implement properly.
	return property.PropertyName;
}

string GetValueExpression(IPropertyMetadata property)
{
	return property.PropertyName;
}
}
