﻿@model GymManagment.Core.ViewModels.CMSContentSocialViewModel
<div class="banner-wrapper">
    <div class=" container">
        <div class="social_icons_sec">
            <div class="top_social_icons">
                <div><img src="~/jitindia_theme/images/social_iconsline.png" class="center-block"></div>
                <div class="social_icons"><a target="_blank" href="@Model.SocialLinks.Facebook"><img src="~/jitindia_theme/images/Banner_fb_icon.svg" class="center-block fb_link"></a></div>
                <div class="social_icons"><a target="_blank" href="@Model.SocialLinks.Twitter"><img src="~/jitindia_theme/images/Banner_twitter_icon.svg" class="center-block twitter_link"></a></div>
                <div class="social_icons"><a target="_blank" href="@Model.SocialLinks.Instagram"><img src="~/jitindia_theme/images/Banner_Insta_icon.svg" class="center-block insta_link"></a></div>
                <div class="social_icons"><a target="_blank" href="#"><img src="~/jitindia_theme/images/banner_youtube.svg" class="center-block youtube_link"></a></div>
                <div><img src="~/jitindia_theme/images/social_iconsline.png" class="center-block"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="slider1_container" style="visibility: hidden; position: relative; margin: 0 auto; width: 1053px; height: 600px;  ">
            <!-- Loading Screen -->
            <div u="loading" style="position: absolute; top: 0px; left: 0px;">
                <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;

                background-color: #000; top: 0px; left: 0px;width: 100%; height:100%;">
                </div>
                <div style="position: absolute; display: block; background: url(~/jitindia_theme/images/loading.gif) no-repeat center center;

                top: 0px; left: 0px;width: 100%;height:100%;">
                </div>
            </div>
            <!-- Slides Container -->
            <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 1053px; height: 550px; ">
                @foreach (var item in Model.CMSContentViewModel)
                {
                    <div>
                        <a href="#"><img u="image" src="@item.FileName" /></a>
                        <div class="home_banner_con ">
                            <div class=" container">
                                <div class="row">
                                    <div class="col-sm-6 col-lg-4">
                                        <div class="banner_sec">
                                            <div class="banner_con_heading desk">@Html.Raw(item.Text1)</div>
                                            <div class="banner_con_heading mob">@Html.Raw(item.Text2)</div>
                                            <div class="banner_con_sub">@Html.Raw(item.Text3)</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!-- bullet navigator container -->
            <div u="navigator" class="jssorb05" style="bottom: 16px; right: 6px;">
                <div u="prototype"></div>
            </div>
            <!-- Arrow Left -->
            <span u="arrowleft" class="jssora11l" style="top: 123px; left: 8px;">
            </span>
            <!-- Arrow Right -->
            <span u="arrowright" class="jssora11r" style="top: 123px; right: 8px;">
            </span>
        </div>
    </div>
</div>
