﻿@model GymManagment.Core.ViewModels.CMSContentSocialViewModel
@foreach (var item in Model.CMSContentViewModel)
{

    <style>
    .about_banner {
        background: url('@item.FileName');
    }
    </style>
    <div class="about_banner">
        <div class="banner_con">
            <div class=" container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h1>@Html.Raw(item.Text1)</h1>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class=" container">
            <div class="row">
                @*<div class="col-sm-8 col-sm-offset-2">*@
                <div class="col-sm-12">
                    <div class="about_cont_area about_con_sec2">
                        <p>
                            @Html.Raw(item.Text2)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
