﻿@model IList<GymManagment.Core.ViewModels.CMSContentViewModel>


	@for (int i = 0; i < Model.Count; i++)
	{
	<div class="col-md-3 ftco-animate">
		<a href="@Model[i].FileName" class="gallery image-popup img d-flex align-items-center" style="background-image: url(@Model[i].FileName);">
			<div class="icon mb-4 d-flex align-items-center justify-content-center">
				<span>@Model[i].Text1</span>
			</div>
		</a>
	</div>
	}




