﻿@model GymManagment.Core.Models.GeneralSettings
<style>
    .submit:hover {
        color: #fff !important;
        background: #ff8f39 !important;
    }

    .submit {
        margin: 0px 0px 0px 0px !important;
        padding: 6px 20px 6px 20px !important;
        color: #fff !important;
        font-size: 13px !important;
        text-transform: none !important;
        font-weight: bold !important;
        border-radius: 10px !important;
        border: 1px solid #ff8f39 !important;
        background: #ff8f39 !important;
    }
</style>
<section>
    <div class="contact_p">
        <div class="contact_container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="mar_t_10">
                        <div class="contact_p_icon"><img src="~/jitindia_theme/images/Phone_icon.svg"></div>
                        &nbsp;
                        <div class="contact_p_ad">
                            <div class="contact_p_con">Call on</div>
                            <div class="contact_p_con1">@Model.ContactNo </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="mar_t_10">
                        <div class="contact_p_icon"><img src="~/jitindia_theme/images/Mail_icon-1.svg"></div>
                        &nbsp;
                        <div class="contact_p_ad">
                            <div class="contact_p_con">Mail to</div>
                            <div class="contact_p_con1">@Model.EmailAddress </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="mar_t_10">
                        <div class="contact_p_icon"><img src="~/jitindia_theme/images/Location_icon.svg"></div>
                        &nbsp;
                        <div class="contact_p_ad">
                            <div class="contact_p_con">Visit Our Office</div>
                            <div class="contact_p_con1">
                                @Model.CompanyName<br>
                                @Model.Address1<br>
                                @Model.Address2<br>
                                @Model.Address3
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-sm-6">
                    <div class="contact_p_head">We're here to help you!.</div>
                    <div><img src="~/jitindia_theme/images/contact_br.jpg"></div>
                    <div class="contact_form">
                        <form id="formBasic" method="post" class="appointment-form">
                            <input type="hidden" name="Enquiry.IsFromOnline" value="true" />
                            <div class="form-group">
                                <div><input name="Enquiry.FirstName" type="text" class="form-control" placeholder="Name" id="username"></div>
                            </div>
                            <div class="form-group">
                                <div><input name="Enquiry.Email" type="text" class="form-control" placeholder="Email"></div>
                            </div>
                            <div class="form-group">
                                <div><input name="Enquiry.MobileNo" type="text" class="form-control" placeholder="Telephone"></div>
                            </div>
                            <div class="form-group">
                                <div><textarea name="Enquiry.Message" cols="30" rows="2" class="form-control form-control1" placeholder="Comments"></textarea></div>
                            </div>
                            <div class="form-group">
                                <input type="submit" asp-page-handler="Save" value="Send" class="submit" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
