﻿@model GymManagment.Core.ViewModels.CMSContentSocialViewModel
@foreach (var item in Model.CMSContentViewModel)
{
    <style>
    .sub_services_banner3 {
        background: url('@item.FileName');
    }
    </style>
    <div class="sub_services_banner3">
        <div class="banner_con">
            <div class=" container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="banner_icon"><img src="~/jitindia_theme/images/Learning_icon_banner.svg" class="center-block"></div>
                        <div class="sub_banner_heading">@Html.Raw(item.Text1)</div>
                        <div class="sub_services_con">@Html.Raw(item.Text2)</div>
                        <div class="contact_arrow"><img src="~/jitindia_theme/images/Down_arrow.svg" class="center-block"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
