﻿<!-----------------------------------Header---------------------------->
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NTSHTJV"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="enquery_btn"><a href="ContactUs">Enquiry</a></div>
<div class="header">
    <header>
        <div class=" container">
            <div class="row">
                <div class="top_section">
                    <div class="col-sm-6 text-left desk"><a href="#"><img src="~/jitindia_theme/images/Mail_icon.svg"> infoindia@jitmts.com </a></div>
                    <div class="col-sm-6 text-right">
                        <a href="#" class="pull-right desk"><img src="~/jitindia_theme/images/Call_icon.svg"> +91 22 27575102</a>
                        <div id="loginContainer">
                            <a href="#" id="loginButton"><span><img src="~/jitindia_theme/images/Globe_icon.svg"> English</span><em></em></a>
                            <div style="clear:both"></div>
                            <div id="loginBox">
                                <form id="loginForm">
                                    <div><a href="#">English</a></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class=" logo"><a href="index.html"><img src="~/jitindia_theme/images/logo.png" class="img-responsive" alt="" /> </a></div>
                    <div class=" logo1"><a href="index.html"><img src="~/jitindia_theme/images/logo.png" class="img-responsive" alt="" /> </a></div>
                </div>
                <div class="col-sm-9">
                    <div class="menu_desk">
                        <div class="bs-example">
                            <nav role="navigation" class="navbar navbar-default navbar-static" id="navbar-example">
                                <div class="navbar-header">
                                    <button data-target=".bs-example-js-navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                                    <div class="collapse navbar-collapse bs-example-js-navbar-collapse">
                                        <ul class="nav navbar-nav">
                                            <li><a href="Index">Home </a> </li>
                                            <li><a href="AboutUs">About Us</a> </li>
                                            <li><a href="Service">Services</a></li>
                                            <li><a href="Career">Careers</a></li>
                                            <li><a href="Certificate">Certifications</a></li>
                                            <li><a href="ContactUs">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
<!-----------------------------------End Header---------------------------->
