﻿@model GymManagment.Core.ViewModels.CMSContentSocialViewModel
@foreach (var item in Model.CMSContentViewModel)
{
    <style>
     .careers_banner{
                     background: url('@item.FileName');
                 }
    </style>

    <div class="careers_banner">
        <div class="banner_con">
            <div class=" container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="banner_icon"><img src="~/jitindia_theme/images/Careers_icon.svg" class="center-block"></div>
                        <div class="sub_banner_heading">@Html.Raw(item.Text1)</div>
                        <div class="sub_banner_services">@Html.Raw(item.Text2)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-12">
            <div class="carees_search">
                <div class="col-sm-5 job_border">
                    <input name="" type="text" class="form-control" placeholder="Job Title">
                    <div class="carees_form_icon"><img src="~/jitindia_theme/images/Search_icon.svg"></div>
                    <div class="carees_form_icon1"><img src="~/jitindia_theme/images/Close_button.svg"></div>
                </div>
                <div class="col-sm-5 job_border1">
                    <input name="" type="text" class="form-control" placeholder="Location">
                    <div class="carees_form_icon"><img src="~/jitindia_theme/images/Location_icon_care.svg"></div>
                    <div class="carees_form_icon1"><img src="~/jitindia_theme/images/Close_button.svg"></div>
                </div>
                <div class="col-sm-2"><div class="search"><a href="#">Search</a></div></div>
            </div>
        </div>
    </div>
}
