﻿ 
ul.resp-tabs-list, p {
    margin: 0px;
    padding: 0px;
}
 
.tab_sec{    margin-right: -10px;
    margin-left: -10px;
}

.resp-tabs-list li {
    font-weight: 600;
    font-size: 14px;
    display: inline-block;
    padding: 20px 15px;
    margin: 0px;
    list-style: none;
    cursor: pointer;
    float: left;
	width:16.66%;
	text-align:center;
	background:#fef4eb;
	border-left: 1px dashed #ff8f39;
	text-transform: none;
	color:#ff8f39;
	height:140px;
}

.resp-tabs-list li :first-child { border-left: 0px dashed #ff8f39 !important; 
}
.resp-tabs-list li img { margin:0px 0px 8px 0px;}

.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
	margin:20px 0px 0px 0px;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
    padding: 70px 0px 0px 0px;
	
}

.resp-tab-active {
    background: #ffdbb0 !important;
	border: 0px solid #09a84f !important;
    border-bottom: none;  
	color:#ff8f39 !important;
	background-position:bottom center;
	background-repeat:no-repeat;
	
}

.resp-tab-active {
    border-bottom: none;
    background-color: #fff;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-tab-content {
    border: 0px solid #c1c1c1;
}

h2.resp-accordion {
    font-size: 13px;
    border: 1px solid #ff8f39 ; 
    margin: 0px;
    padding: 10px 15px;
}

h2.resp-tab-active {
    border-bottom: 0px solid #c1c1c1 !important;
    margin-bottom: 0px !important;
    padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue;
}
/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 30%;
}

.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 15px 15px !important;
    margin: 0;
    cursor: pointer;
    float: none;
}

.resp-vtabs .resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    border: 1px solid #c1c1c1;
    float: left;
    width: 68%;
    min-height: 250px;
    border-radius: 4px;
    clear: none;
}

.resp-vtabs .resp-tab-content {
    border: none;
}

.resp-vtabs li.resp-tab-active {
    border: 1px solid #c1c1c1;
    border-right: none;
    background-color: #fff;
    position: relative;
    z-index: 1;
    margin-right: -1px !important;
    padding: 14px 15px 15px 14px !important;
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #ff8f39;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #ff8f39;
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
    background: #ffdbb0  !important;
}
.resp-easy-accordion  h2.resp-accordion {
        display: block;
}
.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1 !important;
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
    border-top: 1px solid #c1c1c1 !important;
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/

.servises_sec_icon{ float:none; width:auto;}


@media only screen and (max-width: 767px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: inline-block;
		background: #fef4eb;
		width: 100%;
		color:#ff8f39;
		text-transform:none;
    }
	.resp-tab-content { 
	padding: 2px 0px 0px 0px;
  }


    .resp-vtabs .resp-tab-content {
        border: 1px solid #C1C1C1;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none;
    }
    .resp-accordion-closed {
        display:none !important;
    }
    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }
	
	.servises_sec_icon{ float: left; width:30px; margin:0px 15px 0px 0px;}
	.servises_sec_icon img{ width:100%}
}

.demo {
            width: 980px;
            margin: 0px auto;
        }
        .demo h1 {
                margin:33px 0 25px;
            }
        .demo h3 {
                margin: 10px 0;
            }
        pre {
            background: #fff;
        }
        @media only screen and (max-width: 780px) {
        .demo {
                margin: 5%;
                width: 90%;
         }
        .how-use {
                float: left;
                width: 300px;
                display: none;
            }
        }
		
		
        #tabInfo {
            display: none;
        }
