 
  
/*-------Grid Start---------*/
.wrapper-beetle .theme-beetle .trip-mobile .learn-btn:hover,
.wrapper-beetle .theme-beetle .trip-mobile .learn-btn:focus {
    border: 1px solid #2476bb
}
.wrapper-beetle .theme-beetle .trip-mobile .learn-btn:hover,
.wrapper-beetle .theme-beetle .trip-mobile .learn-btn.active {
    color: #333;
    border: 1px solid #2476bb;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}
.wrapper-beetle .theme-beetle .gallery-grid {
    margin-top: 15px;
}
.wrapper-beetle .theme-beetle .gallery-grid .big-title {
    margin-left: 4%
}
.wrapper-beetle .theme-beetle .gallery-grid h2 {
    padding-bottom: 2em
}
@media only screen and (max-width: 480px) {
    .wrapper-beetle .theme-beetle .gallery-grid h2 {
        padding-bottom: 0
    }
}
.wrapper-beetle .theme-beetle .gallery-grid .item {
   /* display: table-cell;*/
    position: relative;
    cursor: pointer;
	 
}
@media only screen and (max-width: 480px) {
    .wrapper-beetle .theme-beetle .gallery-grid .item {
        display: block
    }
}
.wrapper-beetle .theme-beetle .gallery-grid .item img {
    width: 100%
}
 

.wrapper-beetle .theme-beetle .gallery-grid .item .catg-content {
    position: absolute;
    bottom: 35%;
    text-align: center;
    width: 100%;
    color: #fff;
	padding: 0 0 0 20px;
}
.wrapper-beetle .theme-beetle .gallery-grid .item .catg-title {
    font-size:45px;
    text-transform: none;
    line-height: 1.1em;
    margin-bottom: 15px;
	/*background: rgba(0, 0, 0, 0.5);*/
	margin:0px;     
    width: 90%;	
	padding:5px 0px 0px 0px;	
	color:#474747;
	font-weight:400;
	padding-bottom:5px;
	border-radius: 4px;
	text-align: left;
	text-transform:uppercase;
	/*text-shadow:0 2px 0 #474747;*/
	 
}

.wrapper-beetle .theme-beetle .gallery-grid .item .catg-title1 {
    font-size:50px;
    text-transform: none;
    line-height: 1.1em;
    margin-bottom: 15px;
	/*background: rgba(0, 0, 0, 0.5);*/
	margin: 0 auto;     
    width: 90%;	
	padding:5px 0px 0px 0px;	
	color:#474747;
	font-weight: 400;
	padding-bottom:5px;
	border-radius: 4px;
	text-align: center;
	text-transform:uppercase;
	/*text-shadow:0 2px 0 #474747;*/
	 
}
.wrapper-beetle .theme-beetle .gallery-grid .item .catg-title2 {
    font-size:23px;
    text-transform: none;
    line-height: 1.1em;
    margin-bottom: 15px;
	/*background: rgba(0, 0, 0, 0.5);*/
	margin: 0 auto;     
    width: 90%;	
	padding:5px 0px 0px 0px;	
	color:#474747;
	font-weight: lighter;
	padding-bottom:25px;
	border-radius: 4px;
	text-align: center;
	text-transform: none;
	/*text-shadow:0 2px 0 #474747;*/
	 
}
 
.wrapper-beetle .theme-beetle .gallery-grid .item .catg-price {
    font-size: 30px;
	/*background: rgba(0, 0, 0, 0.5);*/
	margin: 0 auto;     
    width: 90%;
	padding:0px 0px 5px 0px;	
	color:#474747;
	font-weight: lighter;
	border-radius: 4px;
	text-align: left;
	text-transform:uppercase;
	 
}

 

.wrapper-beetle .theme-beetle .gallery-grid .item .catg-price span {
    font-size: 15px;
	color:#2cace3;
	font-weight: bold !important;
	
}

 
.wrapper-beetle .theme-beetle .gallery-grid .hover-style {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    background: rgba(0, 0, 0, 0.2)
}
.booknow{  
    margin: -58px 0;
    position: absolute;
    right: 15px;
    text-align: center;   
    z-index: 4500;
}
.booknow a{background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;  
    text-align: center;
    width: 83px;
	color:#FFF;
	padding:6px 10px 6px 10px;
}

.booknow a:hover{background: #0da3e1 none repeat scroll 0 0;
    border-radius: 5px;  
    text-align: center;
    width: 83px;
	color:#FFF;
	padding:6px 10px 6px 10px;
}

@media only screen and (max-width: 800px) {
    .wrapper-beetle .theme-beetle .gallery-grid .hover-style {
        display: block
    }
}
.wrapper-beetle .theme-beetle .gallery-grid .hover-init:hover .hover-style,
.wrapper-beetle .theme-beetle .gallery-grid .hover-init:focus .hover-style {
    display: block
}
.wrapper-beetle .theme-beetle .gallery-grid .break-pattern {
    display: none
}
@media only screen and (max-width: 900px) {
    .wrapper-beetle .theme-beetle .gallery-grid .break-pattern {
        display: inline
    }
}
 
 .wrapper-beetle .relative{position:relative} 
 /*------Grid End-------*/









 /*-------Hover Image Start---------*/
.hover-img {
  z-index: 1;
  display: block;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.hover-img .curved > img {
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.hover-img >img {
  -webkit-transition: 4s;
  -moz-transition: 4s;
  -o-transition: 4s;
  -ms-transition: 4s;
  transition: 4s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.hover-img .hover-icon-group,
.hover-img .hover-icon-group-top-right,
.hover-img .hover-icon-group-top-left,
.hover-img .hover-icon-group-bottom-left,
.hover-img .hover-icon-group-bottom-right,
.hover-img .hover-icon-group-center-top,
.hover-img .hover-icon-group-center-bottom {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}
.hover-img .hover-icon-group > li,
.hover-img .hover-icon-group-top-right > li,
.hover-img .hover-icon-group-top-left > li,
.hover-img .hover-icon-group-bottom-left > li,
.hover-img .hover-icon-group-bottom-right > li,
.hover-img .hover-icon-group-center-top > li,
.hover-img .hover-icon-group-center-bottom > li {
  display: inline-block;
  margin: 0 5px;
}
.hover-img .hover-icon-group-top-left,
.hover-img .hover-icon-group-bottom-left {
  text-align: left;
}
.hover-img .hover-icon-group-top-right,
.hover-img .hover-icon-group-bottom-right {
  text-align: right;
}
.hover-img .hover-icon,
.hover-img .hover-icon-group,
.hover-img [class^="hover-icon-"],
.hover-img [class*=" hover-icon-"] {
  display: block;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.hover-img [class^="hover-icon-"],
.hover-img [class*=" hover-icon-"] {
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
}
.hover-img >.hover-inner {
  position: absolute;
  width: 101%;
  height: 100%;
  padding: 15px;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.hover-img >.hover-inner.hover-inner-sm {
  padding: 10px;
}
.hover-img .hover-inner {
  width: 101%;
  height: 100%;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ed8323;
  color: #fff !important;
}
.hover-img .hover-inner h1,
.hover-img .hover-inner h2,
.hover-img .hover-inner h3,
.hover-img .hover-inner h4,
.hover-img .hover-inner h5 {
  color: #fff;
}
.hover-img .hover-inner-bg-black {
  background: rgba(0,0,0,0.5) !important;
}
.hover-img .hover-inner-block {
  height: auto;
}
.hover-img .hover-inner-bottom {
  top: auto;
  bottom: 0;
}
.hover-img .hover-title,
.hover-img [class^="hover-title-"],
.hover-img [class*=" hover-title-"] {
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  background: rgba(237,131,35,0.75);
  color: #fff;
  width: 100%;
  padding: 0 7px;
  line-height: 32px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 32px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.hover-img .hover-title-top,
.hover-img .hover-title-top-left,
.hover-img .hover-icon-top-left,
.hover-img .hover-icon-group-top-left {
  bottom: auto;
  top: 0;
}
.hover-img .hover-title-top-right,
.hover-img .hover-icon-top-right,
.hover-img .hover-icon-group-top-right {
  bottom: auto;
  top: 0;
  left: auto;
  right: 0;
}
.hover-img .hover-title-bottom-right,
.hover-img .hover-icon-bottom-right,
.hover-img .hover-icon-group-bottom-right {
  left: auto;
  right: 0;
}
.hover-img .hover-title-center,
.hover-img .hover-title-top-right,
.hover-img .hover-title-top-left,
.hover-img .hover-title-bottom-right,
.hover-img .hover-title-bottom-left,
.hover-img .hover-title-center-top,
.hover-img .hover-title-center-bottom {
  display: table;
  width: auto;
}
.hover-img .hover-title-top-right,
.hover-img .hover-title-top-left,
.hover-img .hover-title-bottom-right,
.hover-img .hover-title-bottom-left,
.hover-img .hover-icon-top-right,
.hover-img .hover-icon-top-left,
.hover-img .hover-icon-bottom-right,
.hover-img .hover-icon-bottom-left,
.hover-img .hover-icon-group-top-right,
.hover-img .hover-icon-group-top-left,
.hover-img .hover-icon-group-bottom-right,
.hover-img .hover-icon-group-bottom-left {
  margin: 15px;
}
.hover-img .hover-title-center,
.hover-img .hover-icon {
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, 50%, 0);
  -moz-transform: translate3d(-50%, 50%, 0);
  -o-transform: translate3d(-50%, 50%, 0);
  -ms-transform: translate3d(-50%, 50%, 0);
  transform: translate3d(-50%, 50%, 0);
}
.hover-img .hover-icon-group {
  top: 50%;
  -webkit-transform: translate3d(0, 50%, 0);
  -moz-transform: translate3d(0, 50%, 0);
  -o-transform: translate3d(0, 50%, 0);
  -ms-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
}
.hover-img .hover-title-center-top,
.hover-img .hover-title-center-bottom,
.hover-img .hover-icon-center-top,
.hover-img .hover-icon-center-bottom,
.hover-img .hover-icon-group-center-top,
.hover-img .hover-icon-group-center-bottom {
  margin: 15px 0;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
  -moz-transform: translate(-50%, 100%);
  -o-transform: translate(-50%, 100%);
  -ms-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%);
}
.hover-img .hover-title-center-top,
.hover-img .hover-icon-center-top,
.hover-img .hover-icon-group-center-top {
  bottom: auto;
  top: 0;
}
.hover-img .hover-icon-bottom-left,
.hover-img .hover-icon-bottom-right,
.hover-img .hover-icon-center-bottom,
.hover-img .hover-icon-group-bottom-left,
.hover-img .hover-icon-group-bottom-right,
.hover-img .hover-icon-group-center-bottom {
  bottom: 0;
}
.hover-img .hover-hold {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.hover-img .hover-hold.hover-title-center,
.hover-img .hover-hold.hover-icon {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.hover-img .hover-hold.hover-title-center-top,
.hover-img .hover-hold.hover-title-center-bottom,
.hover-img .hover-hold.hover-icon-center-top,
.hover-img .hover-hold.hover-icon-center-bottom,
.hover-img .hover-hold.hover-icon-group-center-top,
.hover-img .hover-hold.hover-icon-group-center-bottom {
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.hover-img .hover-hold.hover-icon-group {
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
.hover-img:hover .hover-title,
.hover-img:hover [class^="hover-title-"],
.hover-img:hover [class*=" hover-title-"],
.hover-img:hover [class^="hover-icon-"],

.hover-img:hover [class*=" hover-icon-"],
.hover-img:hover .hover-icon,
.hover-img:hover .hover-inner-wrap,
.hover-img:hover > .hover-inner,
.hover-img:hover .hover-icon-group {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.hover-img:hover .hover-title-center,
.hover-img:hover .hover-icon {
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.hover-img:hover .hover-icon-group {
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
.hover-img:hover .hover-title-center-top,
.hover-img:hover .hover-title-center-bottom,
.hover-img:hover .hover-icon-center-bottom,
.hover-img:hover .hover-icon-center-top,
.hover-img:hover .hover-icon-group-center-top,
.hover-img:hover .hover-icon-group-center-bottom {
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.hover-img:hover >img {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
} 
  

.cc-form .form-group {
  float: left;
}
.cc-form .form-group.form-group-cc-number,
.cc-form .form-group.form-group-cc-name {
  width: 60%;
  margin-right: 5%;
}
.cc-form .form-group.form-group-cc-date,
.cc-form .form-group.form-group-cc-cvc {
  width: 25%;
}
.cc-form .form-group.form-group-cc-number .cc-card-icon {
  display: block;
  width: 41px;
  height: 26px;
  position: absolute;
  right: 4px;
  top: 34px;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translate3d(0, -10px, 0);
  -moz-transform: translate3d(0, -10px, 0);
  -o-transform: translate3d(0, -10px, 0);
  -ms-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
}
.cc-form .form-group.form-group-cc-number input.identified + .cc-card-icon {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.cc-form .form-group.form-group-cc-number input.visa + .cc-card-icon {
  background-image: url("../img/payment/visa-curved-32px.png");
}
.cc-form .form-group.form-group-cc-number input.mastercard + .cc-card-icon {
  background-image: url("../img/payment/mastercard-curved-32px.png");
}
.cc-form .form-group.form-group-cc-number input.amex  + .cc-card-icon {
  background-image: url("../img/payment/american-express-curved-32px.png");
}
.cc-form .form-group.form-group-cc-number input.discover + .cc-card-icon {
  background-image: url("../img/payment/discover-curved-32px.png");
}
.cc-form .form-group.form-group-cc-number input.maestro + .cc-card-icon {
  background-image: url("../img/payment/maestro-curved-32px.png");
}
.icon-list {
  list-style: none;
  padding: 0;
}
.icon-list .fa {
  margin-right: 7px;
}
.icon-list-inline {
  margin-bottom: 0;
}
.icon-list-inline > li {
  display: inline-block;
  margin-right: 3px;
}
.icon-list-inline > li:last-child {
  margin-right: 0;
}
.icon-list-inline .fa {
  margin-right: 0;
}
.icon-group {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.icon-group > li {
  float: left;
  margin-right: 5px;
}
.icon-group > li:last-child {
  margin-right: 0;
}
.box-icon,
[class^="box-icon-"],
[class*=" box-icon-"] {
  z-index: 2;
  position: relative; 
  line-height: 30px;
  text-align: center;
  display: block;
  background: #ed8323;
  color: #fff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  font-size:25px;
  color:#fff !important;
  padding:10px;
}
 
.box-icon:hover,
[class^="box-icon-"]:hover,
[class*=" box-icon-"]:hover {
  background: #067cce;
  color: #fff;
}
.box-icon:before,
[class^="box-icon-"]:before,
[class*=" box-icon-"]:before {
  display: inline-block;
}
.box-icon-inline {
  display: inline-block;
}
.box-icon-md {
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 21px;
}
.box-icon-big {
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 28px;
}
.box-icon-large {
  width: 90px;
  height: 90px;
  line-height: 90px;
  font-size: 42px;
}
.box-icon-huge {
  width: 120px;
  height: 120px;
  line-height: 120px;
  font-size: 56px;
}
.box-icon-black {
  background: #333;
}
.box-icon-black:hover {
  background: #000;
}
.box-icon-gray {
  background: #f68620;
}
.box-icon-gray:hover {
  background: #4d4d4d;
}
.box-icon-white {
  background: none;
  color: #ed8323;
}
.box-icon-white:hover {
  color: #fff;
  background: #067cce;
}
.box-icon-info {
  background: #2f96b4;
}  
/*-------Hover Image End---------*/
 
 
/*-------custome css Start---------*/
  
 .mat_bt{ margin-bottom:30px;}
 .image_sec{ bottom:20% !important;}
 
 .view_all_col{ margin:0px; padding:8px 15px 8px 15px;  border:1px solid #545454; color:#545454; font-size:12px; text-transform:uppercase; float:left;}
 .view_all_col a{ margin:0px; padding:0px; border:1px solid #545454; color:#545454; font-size:12px; text-transform:uppercase;}
 .view_all_col a:hover{ margin:0px; padding:0px; border:0px solid #000; background-color:#FFF; color:#dc2776; font-size:12px; text-transform:uppercase;}
 
 .view_all_col_1{ margin:0px 80px 0px 60px ; padding:12px 15px 10px 15px;  border:0px solid #545454; color:#fff; font-size:12px; text-transform:uppercase; background-color:#fb3d86;}
 .view_all_col_1 a{ margin:0px; padding:0px; border:1px solid #545454; color:#545454; font-size:12px; text-transform:uppercase;}
 .view_all_col_1 a:hover{ margin:0px; padding:0px; border:0px solid #000; background-color:#FFF; color:#dc2776; font-size:12px; text-transform:uppercase;}
 
 
 .fa-external-link-square{ color:#ffddec !important;}
  
/*-------custome css End---------*/


@media only screen and (max-width: 900px){	
.wrapper-beetle .theme-beetle .gallery-grid .hover-style {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;    
    background: rgba(0, 0, 0, 0) !important;
}

}

